<template>
    <div>
        <div v-if="this.env.Tezos.Status != 'running'">
            Node must be running to access this API.
        </div>
        <div v-if="this.env.Tezos.Status == 'running'"  style="max-width: 1100px">
            <div class="tph tph1 mb1">
                <p>{{ servicename }} :: {{ endpointname }}</p>
            </div>



            <el-alert
                    :title="'base URL: ' + baseUrl "
                    type="info">
            </el-alert>
            <a href=""></a>
            <el-row style="margin-top: 10px;">
                <el-col :span="22">
                    <el-input v-model="url"></el-input>
                </el-col>
                <el-col :span="2" style="padding-left: 5px;">
                    <el-button size="big" @click="makeRequest(url)">GET</el-button>
                </el-col>
            </el-row>

            <div class="viewerbox">
                <json-tree id="jsonroot" style="background-color: white" :raw="requestData"></json-tree>
            </div>


            <div v-if="requestLog.length >= 1">
                <div class="el-table el-table--fit el-table--enable-row-hover el-table--enable-row-transition"
                     style="width: 100%; text-align: left;">
                    <div class="hidden-columns">
                        <div></div>
                    </div>
                    <div class="el-table__header-wrapper">
                        <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 800px;">
                            <colgroup>
                                <col name="el-table_3_column_3" width="800">
                                <col name="gutter" width="0">
                            </colgroup>
                            <thead class="has-gutter">
                            <tr class="">
                                <th colspan="1" rowspan="1" class="el-table_3_column_3     is-leaf">
                                    <div class="cell">RequestLog</div>
                                </th>
                                <th class="gutter" style="width: 0px; display: none;"></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="el-table__body-wrapper is-scrolling-none">
                        <table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 800px;">
                            <colgroup>
                                <col name="el-table_3_column_3" width="800">
                            </colgroup>
                            <tbody>
                            <tr v-for="a in requestLog" v-bind:key="a" class="el-table__row">
                                <td rowspan="1" colspan="1" class="el-table_3_column_3  ">
                                    <div class="cell" @click="makeRequest(a.url)">
                                        {{ a.url }}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="el-table__column-resize-proxy" style="display: none;">

                    </div>
                </div>
                <br>
            </div>

        </div>

    </div>
</template>
<script>
    import 'vue-json-viewer/style.css'

    // @ is an alias to /src
    export default {
        name: 'RPC',
        data() {
            return {
                baseUrl: "",
                status: "",
                url: "",
                requestLog: [],
                requestData: '["loading..."]',
                endpoint: {},
                servicename: "loading...",
                endpointname: ""
            }
        },
        mounted() {
            this.baseUrl = this.getBaseURL() + "/endpoints/" + this.$route.params.eid
            this.init()
        },
        methods: {
            init(){
                var eid = this.$route.params.eid
                var t = this
                this.env.Plugins.forEach(function (p) {
                    p.Services.forEach(function (s) {
                        s.Endpoints.forEach(function (
                            e
                        ) {
                            if (e.Id === eid) {
                                t.endpoint = e
                                t.servicename = p.Name
                                t.endpointname = e.Name
                                    t.makeRequest(e.HomePath)
                            }
                        })
                    })
                })
            },
            getBaseURL() {
                return location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '')
            },
            makeid(length) {
                var result = '';
                var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                var charactersLength = characters.length;
                for (var i = 0; i < length; i++) {
                    result += characters.charAt(Math.floor(Math.random() * charactersLength));
                }
                return result;
            },
            isJson(str) {
                try {
                    JSON.parse(str);
                } catch (e) {
                    return false;
                }
                return true;
            },
            makeRequest(url) {
                if (this.url != "" && this.url !== url) {
                    this.requestLog.unshift({url: this.url})
                    if (this.requestLog.length >= 5) {
                        this.requestLog.pop()
                    }
                }
                this.url = url
                url = this.baseUrl + url
                this.requestData = '["Loading......."]'
                const Http = new XMLHttpRequest();
                Http.open("GET", url);
                Http.send();

                Http.onreadystatechange = () => {
                    if ( ( Http.status <= 199 || Http.status >= 300 ) && Http.responseText !== "") {
                        if (this.isJson(Http.responseText))
                        {
                            this.requestData = {
                                "ERROR": "HTTP Request failed",
                                "StatusCode": Http.status,
                                "Error": "Response returned wrong StatusCode",
                                "Resposne": JSON.parse(Http.responseText)
                            }
                            this.requestData = JSON.stringify(this.requestData)
                        } else {
                            this.requestData = {
                                "ERROR": "HTTP Request failed",
                                "StatusCode": Http.status,
                                "Error": "Response returned wrong StatusCode",
                                "Resposne": JSON.parse(Http.responseText)
                            }
                            this.requestData = JSON.stringify(this.requestData)
                        }
                    } else {
                        if (this.isJson(Http.responseText)) {
                            this.requestData = Http.responseText
                        } else {
                            this.requestData = {
                                "Ups": "HTTP Request failed",
                                "StatusCode": Http.status,
                                "Error": "Response is not valid JSON, maybe wait a bit until everything is ready?",
                                "Resposne": Http.responseText
                            }
                            this.requestData = JSON.stringify(this.requestData)
                        }
                    }
                }

                Http.onerror = (e) => {
                    if (Http.status !== 200 && Http.responseText !== "") {
                        this.requestData = {
                            "Ups...": "HTTP Request failed",
                            "StatusCode": Http.status,
                            "Error": e
                        }
                        this.requestData = JSON.stringify(this.requestData)
                    }
                }
            },
        },
        computed: {
            env() {
                return this.$store.state.activeEnv
            }
        },
        components: {}
    }
</script>


<style>

    .viewerbox {
        background-color: white;
        margin-top: 25px;
        min-width: 1200px;
        margin-bottom: 50px;
    }

    .jsonBlock {
        color: #ff00f0;
    }

    .jsonAddr {
        color: #ff0007;
    }



    .json-tree-deep {
        margin-left: 10px;
    }



</style>