<template>
    <div>
        <div class="tph tph1 mb1">
            <p>Metrics</p>
        </div>

        <el-row>
            <line-chart v-if="env.Tezos.Remote == false" metric="Tezos CPU" color="blue" :e="$route.params.id" m="cpu" s="Tezos" :d="60*60" size="long"></line-chart>
            <line-chart v-if="env.Tezos.Remote == true" metric="Proxy CPU" color="blue" :e="$route.params.id" m="cpu" s="Tezos" :d="60*60" size="long"></line-chart>
        </el-row>
        <el-row>
            <line-chart v-if="env.Tezos.Remote == false" metric="Tezos RAM (MB) " color="red" :e="$route.params.id" m="mem" s="Tezos" :d="60*60" size="long"></line-chart>
            <line-chart v-if="env.Tezos.Remote == true" metric="Proxy RAM (MB) " color="red" :e="$route.params.id" m="mem" s="Tezos" :d="60*60" size="long"></line-chart>
        </el-row>
 <el-row>
            <line-chart  v-if="env.Tezos.Remote == false" metric="Tezos Storage Size (MB)" color="gray" :e="$route.params.id" m="disksize" s="Tezos" :format="formatBytes" :d="60*60" size="long"></line-chart>        </el-row>
 <el-row>
            <line-chart v-if="env.Tezos.Remote == false" metric="Tezos Network In (kb/s)" color="darkblue" :e="$route.params.id" m="netin" s="Tezos" :d="60*60" size="long"></line-chart>
            <line-chart v-if="env.Tezos.Remote == true" metric="Proxy Network In (kb/s)" color="darkblue" :e="$route.params.id" m="netin" s="Tezos" :d="60*60" size="long"></line-chart>
        </el-row>
 <el-row>
            <line-chart v-if="env.Tezos.Remote == false" metric="Tezos Network Out (kb/s)" color="darkgreen" :e="$route.params.id" m="netout" s="Tezos" :d="60*60" size="long"></line-chart>
            <line-chart v-if="env.Tezos.Remote == true" metric="Proxy Network Out (kb/s)" color="darkgreen" :e="$route.params.id" m="netout" s="Tezos" :d="60*60" size="long"></line-chart>
        </el-row>


    </div>
</template>
<script>
    // @ is an alias to /src

    import LineChart from "../../components/dashboard/LineChart";

    export default {
        name: 'EnvCharts',
        data () {
            return {

            }
        },
        methods: {
            formatBytes(a) {
                return a / 1000000
            }
        },
        components: {
            LineChart
        },
        computed: {
            env () {
                return this.$store.state.activeEnv
            }
        },
    }
</script>


<style>


</style>