<template>
    <div>
        <div v-if="this.env.Tezos.Status != 'running'">
            Node must be running to access Consoles.
        </div>
        <div v-if="this.env.Tezos.Status == 'running'">
            <div class="tph tph1 mb1">
                <p>Console</p>
            </div>

            <div>

                <el-tabs v-model="console" @tab-click="handleClick">
                    <el-tab-pane v-for="a in consoles" :label="a" v-bind:key="a" :name="a"></el-tab-pane>
                </el-tabs>

                <div v-for="c in consoles" v-bind:key="c">
                    <console-comp v-if="console === c" :console="c"></console-comp>
                </div>
            </div>
        </div>


    </div>
</template>
<script>
    import ConsoleComp from "../../components/Console";
    // @ is an alias to /src
    export default {
        name: 'Console',
        data () {
            return {
                console: "node",
                consoles: [],

            }
        },
        mounted() {
            this.$store.dispatch("setActiveEnv",{id: this.$route.params.id})
            this.updateConsoles()
        },
        methods: {
          updateConsoles(){
              this.$store.dispatch("getEnv",{
                  id: this.$route.params.id,
                  onSuccess: this.setConsoles
              })
          },
          setConsoles(env){
                if (env.data.Consoles !== undefined ) {
                    this.consoles = Object.keys(env.data.Consoles)
                }
          }
        },
        computed: {
            env () {
                return this.$store.state.activeEnv
            }
        },
        components: {
            ConsoleComp
        }
    }
</script>


<style>


</style>