<template>
 <div>
     <div v-if="env.Tezos.Status=='pending'" class="pending">
         <div class="tph tph1 mb1">
             <p>Please wait...</p>
         </div>
        <p>Your Tezos node is beeing started...</p>
         <br>
         <table class="task-table">
             <tr v-for="t in tasks" v-bind:key="t.Id">
                 <td class="tasks-small">{{t.Id}}</td>
                 <td>{{t.Name}}</td>
                 <td style="opacity: 0.8">{{t.Description}}</td>
                 <td style="opacity: 0.8">{{t.State}}</td>
             </tr>
         </table>

     </div>
     <div v-if="env.Tezos.Status!='pending'" >
         <div class="tph tph1 mb1">
             <p>Overview</p>
         </div>

         <div class="boxes-container">
             <div class="boxes-vertical">
                 <status-metric :state="env.Tezos.Status"></status-metric>
                 <metric v-if="env.Tezos.Remote == false" :number="env.Tezos.Branch" desc="Network"> </metric>
             </div>
             <div class="boxes-vertical">
                 <metric :number="env.Tezos.HeadLevel" desc="Blockheight"> </metric>
                 <metric v-if="env.Tezos.Remote == false" :number="env.Tezos.HistoryMode" desc="History Mode"> </metric>
             </div>
             <div style="display: block">
                 <el-row>
                     <el-col :span="12"><line-chart metric="Node CPU" color="blue" :e="$route.params.id" m="cpu" s="Tezos" :d="60*15"></line-chart></el-col>
                     <el-col :span="12"><line-chart metric="Node RAM" color="red" :e="$route.params.id" m="mem" s="Tezos" :d="60*15"></line-chart></el-col>
                 </el-row>
             </div>
         </div>


         <div class="tph tph1 mb1">
             <p v-if="env.Tezos.Remote == false" >Node Logs</p>
             <p v-if="env.Tezos.Remote == true"  >Proxy Logs</p>
         </div>


         <div class="logs scrollBar2" id="logsWindow">
             <code v-for="l in logs" v-bind:key="l">
                 <p>{{ l }}</p>
             </code>
         </div>




         <el-row style="margin-top: 50px;">
             <el-col :span="12">
                 <div class="tph tph1">
                     <p>Plugins</p>
                 </div>

                 <div v-if="plugins.length  === 0" style="padding: 50px;">
                     <el-alert
                             title="No Plugins installed."
                             :closable="false"
                             type="info">
                     </el-alert>
                 </div>

                <div  v-if="plugins.length >= 1" style="padding: 25px;">
                    <el-table
                            :data="plugins"
                            style="width: 100%">
                        <el-table-column
                                prop="plugin"
                                label=" Plugin Name"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="service"
                                width="150"
                                label="Service">
                        </el-table-column>
                        <el-table-column
                                prop="status"
                                label="Status">
                        </el-table-column>
                        <el-table-column
                                label=""
                                width="150">
                            <template slot-scope="scope">
                                <el-button v-if="plugins[scope.$index].status == 'running' && plugins[scope.$index].type != 'json' "
                                        @click="goto(plugins[scope.$index].link)"
                                        size="small">
                                    Go to {{ plugins[scope.$index].linkName }}
                                </el-button>
                                <el-button v-if="plugins[scope.$index].status == 'running' && plugins[scope.$index].type == 'json' "
                                           @click="goToAPI(plugins[scope.$index].id)"
                                           size="small">
                                    Go to {{ plugins[scope.$index].linkName }}
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>

                </div>

             </el-col>

             <el-col :span="12">
                 <div class="tph tph1">
                     <p>Environment</p>
                 </div>

                 <EnvOverview></EnvOverview>


             </el-col>
         </el-row>
     </div>
     </div>
</template>
<script>
// @ is an alias to /src
import StatusMetric from "../../components/dashboard/StatusMetric";
import Metric from "../../components/dashboard/Metric";
import LineChart from "../../components/dashboard/LineChart";
import EnvOverview from "../../components/dashboard/EnvOverview";

export default {
  name: 'Home',
    data () {
      return {
          tasks: [],
          plugins: [],
          logs: [
              "                   _          ",
              "|   _  _  _| o __ (_|         ",
              "|__(_)(_|(_| | | |__| o  o  o ",
          ]
      }
    },
    timers: {
        update: { time: 5000, autostart: true, repeat: true },
        getLogs: { time: 2000, autostart: true, repeat: true }
    },
    mounted() {
        this.getTasks()
        this.$store.dispatch("setPage","Dashboard")
        this.update()
        this.getLogs()
        this.getPlugins()
    },
    methods: {
      goToAPI(p){
          this.$router.push('/env/' + this.$route.params.id + '/pluginAPI/' + p)
      },
      goto(a){
          window.open(a, "_blank");
      },
      update(){
            this.$store.dispatch("setActiveEnv",{id: this.$route.params.id})
            if (this.env.Tezos.Status == "pending") {
                this.getTasks()
            }
      },
        getLogs(){
            this.$store.dispatch("getLogs",{
                id: this.$route.params.id,
                onSuccess: this.setLogs
            })
        },
        getPlugins(){
          var l = []
           this.env.Plugins.forEach(function (p) {
                var name = p.Name
               p.Services.forEach(function (s) {
                    var sname = s.ServiceName
                   s.Endpoints.forEach(function (e) {
                     var ename = e.Name
                       l.push({ plugin: name, id: e.Id, service: sname, linkName: ename, status: p.Status, type: e.Type, link: "/endpoints/" + e.Id + e.HomePath})
                   })
               })
           })
            this.plugins = l
        },
        setLogs(data) {
            var logs = data.data
            logs = logs.slice(logs.length-20,logs.length)
            this.logs = logs
            this.gotoBottom("logsWindow")
        },
        gotoBottom(id){
            var element = document.getElementById(id);
            element.scrollTop = element.scrollHeight - element.clientHeight;
        },
        getTasks(){
                this.$store.dispatch("getEnvTasks",{
                    env: this.$route.params.id,
                    responseTarget: {obj: this, field: "tasks"},
                    processdata: true,
                    datafunc: function(a) {
                        if (a.reverse !== undefined) {
                            return a.reverse()
                        }
                        return a
                    }
                })
        }
    },
    computed: {
        env () {
            return this.$store.state.activeEnv
        }
    },
  components: {
        StatusMetric,
        Metric,
        LineChart,
      EnvOverview
  }
}
</script>


<style>

    .pending {
        text-align: left;
        margin-left: 25px;
    }
    .tasks-small {
        opacity: 0.5;
        font-size: 0.8em;
    }

    .task-table tr {
        padding-top: 10px;
    }

    .task-table tr td {
        margin: 5px;
        padding-left: 10px;
        padding-top: 5px;
    }

</style>