<template>
    <div>
        <div class="tph tph1 mb1">
            <p>Logs</p>
        </div>


    </div>
</template>
<script>
    // @ is an alias to /src


    export default {
        name: 'EnvLogs',
        data () {
            return {

            }
        },
        components: {
        }
    }
</script>


<style>


</style>