<template>
    <div>
        <div class="tph tph1 mb1">
            <p>Manage Environment</p>
        </div>


    </div>
</template>
<script>
    // @ is an alias to /src
    export default {
        name: 'Manage Environment',
        data () {
            return {

            }
        },
        components: {
        }
    }
</script>


<style>


</style>