<template>
    <div>
        <div class="tph tph1 mb1">
            <p>Plugin Info : {{ plugin.Name }}</p>
        </div>

        <el-row v-if="table !== {}" style="min-width: 500px">
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>Plugin Info</span>
                </div>
                <table class="infotable">
                    <tr>
                        <td>Plugin ID:</td>
                        <td>{{ plugin.Id }}</td>
                    </tr>
                    <tr>
                        <td>Status:</td>
                        <td>{{ plugin.Status }}</td>
                    </tr>
                    <tr>
                        <td>Endpoints:</td>
                        <td> <table v-for="s in plugin.Services" v-bind:key="s" class="ep_table">
                            <span v-for="e in s.Endpoints" v-bind:key="e" style="margin-right: -5px;">
                                <a  v-if="e.Type != 'json'" class="ep" :href="'/endpoints/' + e.Id + e.HomePath " target="_blank">{{ e.Name }}</a>
                                <a  v-if="e.Type == 'json'"  style="color: blue; text-decoration: underline" class="ep" @click="goToAPI(e.Id)" >{{ e.Name }}</a>
                            </span>
                        </table>
                        </td>
                    </tr>
                    <tr>
                        <td>Actions:</td>
                        <td>
                            <el-button  v-if="plugin.Status == 'running'" type="primary" size="medium" @click="stopPlugin(plugin.Id)" plain>Pause</el-button>
                            <el-button  v-if="plugin.Status == 'stopped'" type="primary" size="medium" @click="startPlugin(plugin.Id)" plain>Start</el-button>
                            <el-button  v-if="plugin.Status != 'pending' && plugin.Status != 'removing...'  " type="danger" size="medium" @click="deletePlugin(plugin.Id)" plain>Delete</el-button>
                        </td>
                    </tr>


                </table>
            </el-card>
        </el-row>

        <br>
        <br>

        <div class="tph tph1 mb1">
            <p>Plugin Logs</p>
        </div>

        <el-tabs v-model="logsTab" @tab-click="getLogs">
            <el-tab-pane v-for="a in plugin.Services" :label="a.ServiceName" v-bind:key="a" :name="a.Name"></el-tab-pane>
        </el-tabs>

        <div class="logs scrollBar2" id="logsWindow" style="min-width: 1000px; max-width: 1000px;">
            <code v-for="l in logs" v-bind:key="l">
                <p>{{ l }}</p>
            </code>
        </div>



    </div>
</template>
<script>
    // @ is an alias to /src
    export default {
        name: 'PluginInfo',
        timers: {
            getLogs: { time: 2000, autostart: true, repeat: true },
            getPlugin: { time: 800, autostart: true, repeat: true }
        },
        data () {
            return {
                envid: "",
                pluginid:"",
                plugin: "",
                table: {},
                logsTab: "",
                logs: ["loading...."]

            }
        },
        mounted() {
            this.envid = this.$route.params.id
            this.pluginid = this.$route.params.pid
            this.getPlugin()
            this.getLogs()
        },
        methods: {
            stopPlugin(p) {
                this.$store.dispatch("stopPlugin", {
                    id: p,
                    onSuccess: function () {
                        this.loadAll()
                    }
                })
            },
            startPlugin(p) {
                this.$store.dispatch("startPlugin", {
                    id: p,
                    onSuccess: function () {
                        this.loadAll()
                    }
                })
            },
            deletePlugin(p) {
                this.$store.dispatch("rmPlugin", {
                    id: p,
                    onSuccess: function () {
                        this.loadAll()
                    }
                })
            },
            getPlugin(){
                var t = this
                this.$store.dispatch("getPlugin", {
                    id : this.pluginid,
                    onSuccess: function (res) {
                        t.plugin = res.data
                        if (t.logsTab === "0") {
                            t.logsTab = res.data.Services[0].Name
                            t.getLogs()
                        }
                    }
                })
            },
            goTo(a){
                window.open(a, '_blank');
            },
            goToAPI(p){
                this.$router.push('/env/' + this.$route.params.id + '/pluginAPI/' + p)
            },
            getLogs(){
                if (this.logsTab !== "") {
                    this.$store.dispatch("getPluginLogs",{
                        id: this.pluginid,
                        service: this.logsTab,
                        onSuccess: this.setLogs
                    })
                }
            },
            setLogs(data) {
                var logs = data.data
                logs = logs.slice(logs.length-20,logs.length)
                this.logs = logs
                this.gotoBottom("logsWindow")
            },
            gotoBottom(id){
                var element = document.getElementById(id);
                element.scrollTop = element.scrollHeight - element.clientHeight;
            },
        },
        components: {
        }
    }
</script>


<style>

    .infotable tr td  {
        padding-left: 15px;
        padding-top: 8px;
        margin-top: 5px;
    }
</style>