<template>
    <div style="min-width: 800px;">
        <div v-if="this.env.Tezos.Status != 'running'">
            Node must be running to access Plugins.
        </div>
        <div v-if="this.env.Tezos.Status == 'running'">
            <div v-if="installed.length >= 1" style="margin-bottom: 10px;">
                <div class="tph tph1 mb1">
                    <p>Plugins</p>
                </div>
            </div>

            <div class="boxcontainer" v-for="p in installed" v-bind:key="p.Name" >
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <el-row style="width: 100%; height: 30px;">
                            <el-col :span="4">
                                <img class="installedlogo" :src="'/pluginsrepo' + p.definition.logo" alt="">
                            </el-col>
                            <el-col :span="20">
                                <b style="top: 7px; left: 50px; position: absolute">{{ p.definition.name}}</b>
                            </el-col>
                        </el-row>
                    </div>
                    <el-row>
                        <el-col :span="16">
                            <table>
                                <tr>
                                    <td style="min-width: 100px;">Status:</td>
                                    <td>{{p.instance.Status }}</td>
                                    <td v-if="p.instance.Status == ''">pending</td>
                                </tr>
                                <tr v-if="p.instance.Status === 'running'">
                                    <td style="min-width: 100px; padding-top: 0px; "></td>
                                    <td> <table v-for="s in p.instance.Services" v-bind:key="s" class="ep_table">
                                        <tr v-for="e in s.Endpoints" v-bind:key="e" style="margin-right: -5px;"> <p class="el-icon-caret-right" style="margin-right: 10px;"></p>
                                            <a  v-if="e.Type != 'json'" class="ep" :href="'/endpoints/' + e.Id + e.HomePath " target="_blank">{{ e.Name }}</a>
                                            <a  v-if="e.Type == 'json'"  style="color: blue; text-decoration: underline" class="ep" @click="goToAPI(e.Id)" >{{ e.Name }}</a>
                                        </tr>
                                    </table>
                                    </td>
                                </tr>
                            </table>
                        </el-col>
                        <el-col :span="8"  style="text-align: right">
                            <div  style="text-align: right">
                                <el-button v-if="p.instance.Status == 'running'" type="primary" size="medium" @click="stopPlugin(p.instance.Id)" plain>Pause</el-button>
                                <el-button  v-if="p.instance.Status == 'stopped'" type="primary" size="medium" @click="startPlugin(p.instance.Id)" plain>Start</el-button>
                                <br  v-if="p.instance.Status != 'pending'">
                                <br  v-if="p.instance.Status != 'pending'">
                                <el-button  v-if="p.instance.Status != 'pending' && p.instance.Status != 'removing...'  " type="danger" size="medium" @click="deletePlugin(p.instance.Id)" plain>Delete</el-button>
                                <br  v-if="p.instance.Status != 'pending'">
                                <br  v-if="p.instance.Status != 'pending'">
                                <el-button  v-if="p.instance.Status != 'pending' && p.instance.Status != 'removing...'  " type="primary" size="medium" @click="pluginInfo(p.instance.Id)" plain>Info</el-button>
                            </div>
                        </el-col>
                    </el-row>
                </el-card>
            </div>


            <br v-if="installed.length >= 1">
            <br v-if="installed.length >= 1">
            <br v-if="installed.length >= 1">

            <div class="tph tph2 mb2" v-if="available.length >= 1">
                <p>Available Plugins</p>
            </div>

            <div class="boxcontainer">
                <div v-for="p in available" v-bind:key="p.Name" >
                    <div class="plugin box">
                        <el-row style="width: 450px; margin-top: 0px; padding-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">
                            <el-col :span="6">
                                <img class="pluginlogo" :src="'/pluginsrepo' + p.logo" alt="">
                            </el-col>
                            <el-col :span="18">
                                <h1>{{ p.name }}</h1>
                                <p>{{ p.description }}</p>
                                <el-button type="primary" @click="goTo(p.website)" plain>Website</el-button>
                                <el-button v-if="!noinstall" v-on:click="install(p.services)" type="primary" plain>Install</el-button>
                                <el-button v-if="noinstall" type="primary" plain disabled>Install</el-button>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </div>

        </div>
        </div>
</template>
<script>
    // @ is an alias to /src
    export default {
        name: 'Plugins',
        data () {
            return {
                plugins: [],
                available: [],
                installed: [],
                noinstall: false,
            }
        },
        timers: {
            loadAll: { time: 1000, autostart: true, repeat: true }
        },
        methods: {
            goToAPI(p){
                this.$router.push('/env/' + this.$route.params.id + '/pluginAPI/' + p)
            },
            test(a){
                alert(a)
            },
            stopPlugin(p) {
                this.$store.dispatch("stopPlugin", {
                    id: p,
                    onSuccess: function () {
                        this.loadAll()
                    }
                })
            },
            startPlugin(p) {
                this.$store.dispatch("startPlugin", {
                    id: p,
                    onSuccess: function () {
                        this.loadAll()
                    }
                })
            },
            deletePlugin(p) {
                this.$store.dispatch("rmPlugin", {
                    id: p,
                    onSuccess: function () {
                        this.loadAll()
                    }
                })
            },
            pluginInfo(p) {
                this.$router.push('/env/' + this.$route.params.id + '/plugin/' + p)
            },
            isInstalled(b){
                if (this.env.Plugins === null) {
                    return false
                }
               var  res = false
                this.env.Plugins.forEach((a) => {
                    if ( a.Name === b.name ) {
                        res = true
                    }
                })
                return res
            },
            getInstalled(b){
                var  res = false
                this.env.Plugins.forEach((a) => {
                    if ( a.Name === b.name ) {
                        res = a
                    }
                })
                return res
            },
            goTo(a){
                window.open(a, '_blank');
            },
            getPlugins(){
                const Http = new XMLHttpRequest()
                var url = "/pluginsrepo/index.json"
                Http.open("GET", url);
                Http.send();

                Http.onload = () => {
                    this.plugins = JSON.parse(Http.responseText)
                    var n = []
                    var r = []
                    this.plugins.forEach((p) => {
                        if (this.isInstalled(p) === false){
                            n.push(p)
                        } else {
                            var i = this.getInstalled(p)
                            r.push({definition: p, instance: i})
                        }
                    })
                    this.available = n
                    this.installed = r
                }

            },
            install(services){
                this.noinstall = true
                var t = this

                setTimeout(function () {
                    t.noinstall = false
                },3000)

                const Http = new XMLHttpRequest()
                var url = "/pluginsrepo" + services
                Http.open("GET", url);
                Http.send();

                Http.onload = () => {
                    var servicesYML = Http.responseText
                    this.$store.dispatch("createPlugin", {
                        env : this.env.Id,
                        data: {
                            serviceDefinition: servicesYML,
                        },
                        onSuccess: function () {
                            this.loadAll()
                        }
                    })
                }
            },
            loadAll(){
                this.$store.dispatch("setActiveEnv",{id: this.$route.params.id})
                this.getPlugins()
            },
        },
        mounted(){
            this.loadAll()
        },
        computed: {
            env () {
                return this.$store.state.activeEnv
            }
        },
    }
</script>


<style>

    .plugin {
        width: 450px;
        margin: 25px;
        padding: 15px;
        text-align: center;
    }

    .installedlogo {
        margin: 0px;
        height: 30px;
    }

    .plugin p {
    }
    .plugin h1 {
        font-size: 1.2em;
    }

    .boxcontainer {
        margin-bottom: 10px;
    }

    .pluginlogo {
        margin-top: 20px;
        width: 80px;
    }

    .ep {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .ep_table {
        padding: 0px;
        margin-top: 5px;
    }

    .ep_table tr {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }


</style>