<template>
    <div>
        <div v-if="this.env.Tezos.Status != 'running'">
            Node must be running to access RPC API.
        </div>
        <div v-if="this.env.Tezos.Status == 'running'" style="max-width: 1100px">
            <div class="tph tph1 mb1">
                <p>RPC</p>
            </div>

            <el-row>
                <el-button size="small" @click="makeRequest('/chains/main/blocks/head')">Head</el-button>
                <el-button size="small" @click="makeRequest('/chains/main/blocks/head/header')">Header</el-button>
                <el-button size="small" @click="makeRequest('/chains/main/blocks/head/operations')">Head Ops</el-button>
                <el-button size="small" @click="makeRequest('/network/connections')">Connections</el-button>
                <el-button size="small" @click="makeRequest('/chains/main/mempool/pending_operations')">Mempool Pending
                </el-button>
            </el-row>

            <a href=""></a>
            <el-row style="margin-top: 10px;">
                <el-col :span="22">
                    <el-input v-model="url"></el-input>
                </el-col>
                <el-col :span="2" style="padding-left: 5px;">
                    <el-button size="big" @click="makeRequest(url)">GET</el-button>
                </el-col>
            </el-row>

            <div class="viewerbox">
                <json-tree id="jsonroot" style="background-color: white" :raw="requestData"></json-tree>
            </div>


            <div v-if="requestLog.length >= 1">
                <div class="el-table el-table--fit el-table--enable-row-hover el-table--enable-row-transition"
                     style="width: 100%; text-align: left;">
                    <div class="hidden-columns">
                        <div></div>
                    </div>
                    <div class="el-table__header-wrapper">
                        <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 800px;">
                            <colgroup>
                                <col name="el-table_3_column_3" width="800">
                                <col name="gutter" width="0">
                            </colgroup>
                            <thead class="has-gutter">
                            <tr class="">
                                <th colspan="1" rowspan="1" class="el-table_3_column_3     is-leaf">
                                    <div class="cell">RequestLog</div>
                                </th>
                                <th class="gutter" style="width: 0px; display: none;"></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="el-table__body-wrapper is-scrolling-none">
                        <table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 800px;">
                            <colgroup>
                                <col name="el-table_3_column_3" width="800">
                            </colgroup>
                            <tbody>
                            <tr v-for="a in requestLog" v-bind:key="a" class="el-table__row">
                                <td rowspan="1" colspan="1" class="el-table_3_column_3  ">
                                    <div class="cell" @click="makeRequest(a.url)">
                                        {{ a.url }}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="el-table__column-resize-proxy" style="display: none;">

                    </div>
                </div>
                <br>
            </div>

        </div>

    </div>
</template>
<script>
    import 'vue-json-viewer/style.css'

    // @ is an alias to /src
    export default {
        name: 'RPC',
        data() {
            return {
                baseUrl: "",
                status: "",
                url: "",
                requestLog: [],
                requestData: '["hi there!"]',
                defaultData: '["hi there!"]'
            }
        },
        mounted() {
            this.baseUrl = this.getBaseURL() + "/endpoints/" + this.env.Tezos.Endpoint
        },
        methods: {
            getBaseURL() {
                return location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '')
            },
            augment() {
                var el = document.getElementById("jsonroot")
                this.augmentRecursive(el, 0)
            },
            augmentRecursive(parent, i) {
                parent.childNodes.forEach((e) => {
                    if (e.childElementCount >= 1) {
                        this.augmentRecursive(e, i + 1)
                    } else {
                        if (i >= 1) {
                            e.innerHTML = this.augmentFinal(e.innerHTML)
                        }
                    }
                })
            },
            augmentFinal(str) {
                if (str === undefined ) {
                    return str
                }
                var t = this
                let blockex = /"(B(.){50})/
                var match = str.match(blockex)
                if (match !== null && match[1]) {
                    var id = this.makeid(15)
                    str = "\"<span id='" + id + "' class='jsonBlock' id=\"" + match[1] + "\">" + match[1] + "</span>\""
                    setTimeout(function () {
                        var el = document.getElementById(id)
                        el.addEventListener("click", function () {
                            t.makeRequest("/chains/main/blocks/" + match[1])
                        })
                    }, 100)
                } else {

                    match = null
                    let tzex = /"(tz(.){34})/
                    match = str.match(tzex)
                    if (match !== null && match[1]) {
                        id = this.makeid(15)
                        str = "\"<span id='" + id + "' class='jsonAddr' id=\"" + match[1] + "\">" + match[1] + "</span>\""
                        setTimeout(function () {
                            var el = document.getElementById(id)
                            el.addEventListener("click", function () {
                                t.makeRequest("/chains/main/blocks/head/context/contracts/" + match[1])
                            })
                        }, 10)
                    } else {

                        match = null
                        let ktex = /"(KT(.){34})/
                        match = str.match(ktex)
                        if (match !== null && match[1]) {
                            id = this.makeid(15)
                            str = "\"<span id='" + id + "' class='jsonAddr' id=\"" + match[1] + "\">" + match[1] + "</span>\""
                            setTimeout(function () {
                                var el = document.getElementById(id)
                                el.addEventListener("click", function () {
                                    t.makeRequest("/chains/main/blocks/head/context/contracts/" + match[1])
                                })
                            }, 10)

                        }

                    }

                }
                return str
            },
            makeid(length) {
                var result = '';
                var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                var charactersLength = characters.length;
                for (var i = 0; i < length; i++) {
                    result += characters.charAt(Math.floor(Math.random() * charactersLength));
                }
                return result;
            },
            makeRequest(url) {
                this.requestData = "{}"
                if (this.url != "" && this.url !== url) {
                    this.requestLog.unshift({url: this.url})
                    if (this.requestLog.length >= 5) {
                        this.requestLog.pop()
                    }
                }
                this.url = url
                url = this.baseUrl + url
                const Http = new XMLHttpRequest();
                Http.open("GET", url);
                Http.send();

                Http.onreadystatechange = () => {
                    if (Http.status !== 200 && Http.responseText !== "") {
                        var obj = {
                            "ERROR": "HTTP Request failed",
                        }
                        this.requestData = JSON.stringify(obj)
                    } else {
                        var isJson = function (str) {
                            try {
                                JSON.parse(str);
                            } catch (e) {
                                return false;
                            }
                            return true;
                        }

                        if (Http.responseText.length >= 3 && isJson(Http.responseText)) {
                            this.requestData = Http.responseText
                        }
                    }
                    setTimeout(this.augment, 125)
                }

                Http.onerror = (e) => {
                    this.requestData = JSON.stringify({
                        "Error": e
                    })
                }
            },
        },
        computed: {
            env() {
                return this.$store.state.activeEnv
            }
        },
        components: {}
    }
</script>


<style>

    .viewerbox {
        background-color: white;
        margin-top: 25px;
        min-width: 1200px;
        margin-bottom: 50px;
    }

    .jsonBlock {
        color: #ff00f0;
    }

    .jsonAddr {
        color: #ff0007;
    }



    .json-tree-deep {
       margin-left: 10px;
    }



</style>