<template>
    <div>
        <div v-if="this.env.Tezos.Status != 'running'">
            Node must be running to access RPC API.
        </div>
        <div v-if="this.env.Tezos.Status == 'running'">
            <el-row>
                <div class="tph tph1 mb1">
                    <p>Wallet <span style="opacity: 0.3">( tezos-client wrapper )</span> </p>
                </div>

                <el-alert v-if="error != ''" style="width: 500px;"
                          :title="error"
                          :closable="false"
                          type="error">
                </el-alert>


                <el-table v-if="error =='' && addresses.length >= 1"
                          :data="addresses"
                          style="width: 100%; text-align: left">
                    <el-table-column
                            prop="Alias"
                            label="Alias"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="Address"
                            label="Address"
                            width="350">
                    </el-table-column>
                    <el-table-column
                            prop="Delegate"
                            label="Delegate"
                            width="350">
                    </el-table-column>
                    <el-table-column
                            prop="Counter"
                            width="120"
                            label="Counter">
                    </el-table-column>
                    <el-table-column
                            prop="Balance"
                            width="120"
                            label="Balance">
                    </el-table-column>
                    <el-table-column
                            fixed="right"
                            label="Operations"
                            width="250">
                        <template slot-scope="scope">
                            <el-button type="primary" @click.native.prevent="qr(scope.$index)" size="mini" plain>QR</el-button>
                            <el-button type="primary"  @click.native.prevent="delegate(scope.$index)" size="mini" plain>Delegate</el-button>
                            <el-button type="danger"  @click.native.prevent="deleteAsk(scope.$index)" size="mini" plain>Delete</el-button>
                        </template>
                    </el-table-column>

                </el-table>
                <div style="margin-top: 20px"  v-if="error == ''">
                    <el-button @click="newAddr" >Create Address</el-button>
                    <el-button @click="newAlias" >Add Alias</el-button>
                    <el-button @click="importAddress" >Import Faucet</el-button>
                    <el-button v-if="addresses.length >= 1" @click="transfer">Transfer</el-button>
                </div>




                <br>
                <br>



                <div v-if="pendingOps.length >= 1">
                    <el-table :data="pendingOps"
                              style="width: 100%; text-align: left">
                        <el-table-column
                                prop="Description"
                                label="Pending Operations"
                                width="800">
                        </el-table-column>
                    </el-table>
                    <br>

                    <el-button v-if="env.Tezos.Branch === 'sandbox' && bakedisabled === false" @click="bake">Bake a new Block</el-button>
                    <el-button v-if="env.Tezos.Branch === 'sandbox' && bakedisabled === true" @click="bake" disabled>Waiting for new Block</el-button>
                </div>
                <br>
                <br>
                <modal name="newaddr" :height="160">
                    <div style="padding: 30px;">
                        <el-form ref="form" :model="newform" label-width="120px">
                            <el-form-item label="Address Alias">
                                <el-input v-model="newform.alias"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="createAddr">Create</el-button>
                                <el-button @click="cancelNewAddr">Cancel</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </modal>
                <modal name="newalias" :height="230">
                    <div style="padding: 30px;">
                        <el-form ref="form" :model="aliasform" label-width="120px">
                            <el-form-item label="Name">
                                <el-input v-model="aliasform.alias"></el-input>
                            </el-form-item>
                            <el-form-item label="Address">
                                <el-input v-model="aliasform.addr"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="createAlias">Create</el-button>
                                <el-button @click="cancelNewAlias">Cancel</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </modal>
                <modal name="qr" height="500">
                    <div style="padding: 30px;" class="qrmodal">
                        <h3>{{qrvalue}}</h3>
                        <VueQrcode :value="qrvalue" width="350" :options="{ width: 350, color: 'dark' }"></VueQrcode>
                    </div>
                </modal>
                <modal name="delegate" :height="250">
                    <div style="padding: 25px;">
                        <el-form ref="form" :model="delegateForm" label-width="120px">
                            <el-form-item label="Address">
                                <el-input v-model="delegateForm.from" disabled></el-input>
                            </el-form-item>
                            <el-form-item label="Delegate">
                                <el-select v-model="delegateForm.to" placeholder="please select your delegate">
                                    <el-option v-for="a in getAliases()" v-bind:key="a" :label="a" :value="a"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="setDelegate">Set delegate</el-button>
                                <el-button @click="cancelDelegate">Cancel</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </modal>
                <modal name="transfer" :height="310">
                    <div style="padding: 25px;">
                        <el-form ref="form" :model="transferForm" label-width="120px">
                            <el-form-item label="Amount">
                                <el-input v-model="transferForm.amount"></el-input>
                            </el-form-item>
                            <el-form-item label="Sender">
                                <el-select v-model="transferForm.from" placeholder="please select your delegate">
                                    <el-option v-for="a in getAliases()" v-bind:key="a" :label="a" :value="a"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="Reciever">
                                <el-select v-model="transferForm.to" placeholder="please select your delegate">
                                    <el-option v-for="a in getAliases()" v-bind:key="a" :label="a" :value="a"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="makeTransfer">Send</el-button>
                                <el-button @click="cancelTransfer">Cancel</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </modal>
                <modal name="import" :height="310">
                    <div style="margin: 10px;">
                        <div style="padding: 15px">

                            <el-alert style="width: 550px;"
                                      title="Go to  https://faucet.tzalpha.net/  and copy paste the JSON below"
                                      :closable="false"
                                      type="info">
                            </el-alert>
                            <br>
                            <el-form ref="form" :model="faucet" label-width="120px">
                                <el-form-item label="Name">
                                    <el-input height="250" v-model="faucet.name"></el-input>
                                </el-form-item>
                                <el-form-item label="Faucet JSON">
                                    <el-input type="textarea" v-model="faucet.json"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="createFaucet">Create</el-button>
                                    <el-button @click="cancelImport">Cancel</el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </div>
                </modal>
                <v-dialog></v-dialog>

                <div class="tph tph1 mb1" v-if="error == ''">
                    <p>tezos-client Console</p>
                </div>
                <Console console="client" v-if="error == ''"></Console>
                <br>
                <a v-if="error ==''" target="_blank" href="https://tezos.gitlab.io/api/cli-commands.html">Help me</a>

            </el-row>
        </div>
    </div>
</template>
<script>
    // @ is an alias to /src
    import VueQrcode from 'vue-qrcode'
    import Console from "../../components/Console";

    export default {
        name: 'Wallet',
        data () {
            return {
                importTab: "mnemonic",
                faucet: {
                    name: "",
                    json: ""
                },
                delegateForm: {
                    from: "",
                    to: ""
                },
                pendingOps:[],
                qrvalue: "",
                newform: {
                    alias: ""
                },
                aliasform: {
                    addr: "",
                    alias: ""
                },
                transferForm: {
                    from: "",
                    to: "",
                    amount: "",
                },
                error: "",
                showNew: true,
                addresses: [],
                addrPending: false,
                bakedisabled: false,
            }
        },
        computed: {
            env () {
                return this.$store.state.activeEnv
            }
        },
        timers: {
            getAddresses: { time: 5000, autostart: true, repeat: true },
            getPending: { time: 2000, autostart: true, repeat: true }
        },
        methods: {
            setDelegate(){
                this.$store.dispatch("delegate",{
                    env: this.$route.params.id,
                    from: this.delegateForm.from,
                    to: this.delegateForm.to,
                    onSuccess: this.getAddresses
                })
                this.$modal.hide('delegate');
            },
            makeTransfer(){
                this.$store.dispatch("transfer",{
                    env: this.$route.params.id,
                    from: this.transferForm.from,
                    amount: this.transferForm.amount,
                    to: this.transferForm.to,
                    onSuccess: this.getAddresses
                })
                this.$modal.hide('transfer');
            },
            getAliases(){
              var a = this.addresses
              var res = []
                a.forEach(e => {
                    res.push(e.Alias)
                })

                return res
            },
            formatXTZ(amount){
                return this.roundTo(amount/1000000,2) + " ꜩ"
            },
            delegate(index){
                this.delegateForm.from = this.addresses[index].Alias
                this.delegateForm.to = ""
                this.$modal.show("delegate")
            },
            qr(index) {
                var addr = this.addresses[index].Address
                this.qrvalue = addr
                this.$modal.show('qr');

            },
            newAddr(){
                this.newform.alias = ""
                this.$modal.show('newaddr');
            },
            transfer(){
                this.transferForm.from = ""
                this.transferForm.to = ""
                this.transferForm.amount = ""
                this.$modal.show('transfer');
            },
            importAddress(){
                this.faucet.json = ""
                this.$modal.show('import');
            },
            newAlias(){
                this.aliasform.alias = ""
                this.aliasform.addr = ""
                this.$modal.show('newalias');
            },
            createAlias(){
                this.$store.dispatch("newAlias",{
                    env: this.$route.params.id,
                    alias: this.aliasform.alias,
                    addr: this.aliasform.addr,
                    onSuccess: this.getAddresses
                })
                this.$modal.hide('newalias');
            },
            bake(){
                this.bakedisabled = true
                var t = this
                this.$store.dispatch("bake",{
                    env: this.$route.params.id,
                    onSuccess: function(){
                        t.bakedisabled = false
                    }
                })
            },
            createFaucet(){
                this.$store.dispatch("newFaucet",{
                    env: this.$route.params.id,
                    alias: this.faucet.name,
                    data: {
                        json: this.faucet.json
                    },
                    onSuccess: this.getAddresses
                })
                this.$modal.hide('import');
            },
            deleteAsk(index){
                var addr = this.addresses[index]
                this.$modal.show('dialog', {
                    title: 'Danger!',
                    text: 'Are you sure you want to delete the Address "'+addr.Alias+'"',
                    buttons: [
                        {
                            title: 'NO!',
                            default: true,
                            handler: () => {
                                this.$modal.hide("dialog")
                            }
                        },
                        {
                            title: 'Yes!',
                            handler: () => {
                                this.deleteAddr(addr.Alias)
                                this.$modal.hide("dialog")
                            }
                        },
                    ]
                })

            },
            deleteAddr(alias){
                this.$store.dispatch("deleteAddress",{
                    env: this.$route.params.id,
                    alias: alias,
                    onSuccess: this.getAddresses()
                })
            },
            cancelNewAddr(){
                this.newform.alias = ""
                this.$modal.hide('newaddr');
            },
            cancelDelegate(){
                this.$modal.hide('delegate');
            },
            cancelTransfer(){
                this.$modal.hide('transfer');
            },
            cancelImport(){
                this.$modal.hide('import');
            },
            cancelNewAlias(){
                this.newform.alias = ""
                this.$modal.hide('newalias');
            },
            createAddr(){
                this.$store.dispatch("newAddress",{
                    env: this.$route.params.id,
                    alias: this.newform.alias,
                    pendingTarget: {obj: this, field: "addrPending"},
                    onSuccess: this.setAddresses
                })
                this.$modal.hide('newaddr');
            },
            getPending(){
                this.$store.dispatch("getPendingOps",{
                    env: this.$route.params.id,
                    onSuccess: this.setPending
                })
            },
            setPending(data){
                var res = []
                data.data.forEach(e => {
                    res.push({Description: e + "..."})
                })
                this.pendingOps = res
            },
            getAddresses(){
                this.$store.dispatch("getAddresses",{
                    env: this.$route.params.id,
                    pendingTarget: {obj: this, field: "addrPending"},
                    onSuccess: this.setAddresses
                })
            },
            setAddresses(data){
                data = data.data
                this.error = ''
                this.error = data.Error
                if (data.Addresses != undefined) {
                    data.Addresses.forEach( e => {
                        e.Balance = this.formatXTZ(e.Balance)
                    })
                    this.addresses = data.Addresses
                }
            },
            roundTo(n, digits) {
                if (digits === undefined) {
                    digits = 0;
                }

                var multiplicator = Math.pow(10, digits);
                n = parseFloat((n * multiplicator).toFixed(11));
                var test =(Math.round(n) / multiplicator);
                return +(test.toFixed(digits));
            }
        },
        mounted() {
            this.getAddresses()
        },
        components: {
            VueQrcode,
            Console
        }
    }
</script>


<style scoped>

    .addrtable {
        min-width: 600px;
    }

    .qrmodal {
        height: 500px;
        position: absolute;
        text-align: center;
        margin-left: 60px;
    }
</style>