<template>
   <div>
       <el-row class="wallet-address">
           <el-col :span="3" id="icon">
               <blockie :address="address"></blockie>
           </el-col>
           <el-col :span="17">
               <p class="alias">{{ alias }}</p>
               <p class="address">{{address}}</p>
           </el-col>
           <el-col :span="4">
               <p class="amount">{{amount}} <span style="opacity: 0.5;">XTZ</span> </p>
           </el-col>
       </el-row>
   </div>
</template>

<script>
    import blockie from "./blockie";
    export default {
        name: 'AddressList',
        props: ["address","alias","amount"],
        components: {
            blockie
        }
    }
</script>



<style>

    .wallet-address {
        position: relative;
        background-color: #f4f4f4;
        padding: 5px;
        width: 600px;
        height: 70px;
        border-bottom: 1px solid gray;
        margin-bottom: 10px;
    }

    .wallet-address p {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .wallet-address .alias {
        padding: 0px;
        margin-bottom: 0px;
        margin-top: 5px;
        margin-left: 0px;
        font-size: 1.2em;
    }

    .wallet-address .address {
        font-size: 0.8em;
        margin-top: -3px;
    }


</style>