<template>
    <div :id="address"></div>
</template>

<script>
    import blockies from 'ethereum-blockies'

    export default {
        name: 'Blockie',
        props: {
            address: String
        },
        mounted(){
            var icon = blockies.create({ // All options are optional
                seed: this.address, // seed used to generate icon data, default: random
                color: '#65008f', // to manually specify the icon color, default: random
                bgcolor: 'rgba(241,241,241,0)', // choose a different background color, default: random
                size: 15, // width/height of the icon in blocks, default: 8
                scale: 4, // width/height of each block in pixels, default: 4
                spotcolor: '#000' // each pixel has a 13% chance of being of a third color,
            });
            document.getElementById(this.address).append(icon)
        }
    }
</script>


<style scoped>

    #blockie {
        background-color: #393a55;
        width: 100px;
        height: 100px;
        display: block;
    }
</style>
