<template>
    <div>
        <div class="tph tph1 mb1">
            <p>Environments</p>
        </div>

        <p class="section-name">Remote</p>
        <div class="row"> <!-- Tulip Nodes -->

            <div  v-for="(item,index) in remotes" v-bind:key="index" class="env remote" @click="goToEnv(item.Id)">
                <p class="name">{{ item.Name }} - <span style="opacity: 0.7; font-size: 0.9em">{{ item.Tezos.Branch | capitalize }}</span></p>
                <p class="id">ID: {{item.Id }}</p>
                <p class="mode" style="opacity: 0;">a</p>
                <p class="state">{{ item.Tezos.Status | capitalize }}</p>
            </div>


            <div class="add" v-on:click="toPage('newRemoteEnv')">
                <p class="btntxt">Add Remote Environment</p>
            </div>
        </div>

        <p class="section-name">Local</p>
        <div class="row">

            <div  v-for="(item,index) in locals" v-bind:key="index" class="env" v-bind:class="{'mainnet': item.Tezos.Branch === 'mainnet', 'testnet': item.Tezos.Branch === 'carthagenet', 'sandbox': item.Tezos.Branch === 'sandbox'}" @click="goToEnv(item.Id)">
                <p class="name">{{ item.Name }} - <span style="opacity: 0.7; font-size: 0.9em">{{ item.Tezos.Branch | capitalize }}</span></p>
                <p class="id">ID: {{item.Id }}</p>
                <p class="mode">{{ item.Tezos.HistoryMode | capitalize }}</p>
                <p class="state">{{ item.Tezos.Status | capitalize }}</p>
            </div>

            <div class="add" v-on:click="toPage('newLocalEnv')">
                <p class="btntxt">Add Local Environment</p>
            </div>


        </div>



    </div>
</template>
<script>
    // @ is an alias to /src
    export default {
        name: 'Environments',
        data () {
            return {
                envpending: true,
                locals: [],
                remotes: [],
            }
        },
        timers: {
            getEnvironments: { time: 5000, autostart: true, repeat: true }
        },
        methods: {
            getEnvironments(){
                this.$store.dispatch("getEnvs",{
                    pendingTarget: {obj: this, field: "envpending"},
                    onSuccess: this.parseEnvs
                })
            },
            goToEnv(id){
                var t = this
                var goToDashboard = function () {
                    t.$router.push("/env/" + id)
                }
                this.$store.dispatch("setActiveEnv",{
                    id: id,
                    onSuccess: goToDashboard
                })
            },
            parseEnvs(data){
                var local = []
                var remote = []
                data.data.forEach((env) => {
                    if (env.Tezos.Remote) {
                        remote.push(env)
                    } else {
                        local.push(env)
                    }
                })
                this.remotes = remote
                this.locals = local
            },
            toPage (page) {
                if (page == "newLocalEnv") { this.$router.push("/env/new/local") }
                if (page == "newRemoteEnv") { this.$router.push("/env/new/remote") }

            },
        },
        components: {
        },
        mounted() {
            this.$store.dispatch("setPage","Environments")
            this.getEnvironments()
        },
        filters: {
            capitalize: function(value) {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        }
    }
</script>


<style>

    .mainnet {
        background-color: #556586;
        -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.11);
        -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.11);
        box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.11);
    }

    .sandbox {
        background-color: #865942;
        -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.11);
        -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.11);
        box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.11);
    }

    .remote {
        background-color: #2d8586;
        -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.11);
        -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.11);
        box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.11);
    }

    .testnet {
        background-color: #7e7e7e;
        -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.11);
        -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.11);
        box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.11);
    }

    .tuliplogo {
        position: relative;
        opacity: 0.6;
        margin-bottom: -50px;
        top: -15px;
        width: 100px;
        float: right;
    }

    .add:hover {
        opacity: 1;
    }

    .add {
        border-radius: 20px;
        display: inline-block;
        margin: 8px;
        padding: 10px;
        padding-top: 5px;
        width: 300px;
        height: 150px;
        opacity: 0.2;
        background-color: rgba(220, 220, 226, 0.23);
        border: 3px dashed rgba(128, 128, 128, 0.45);
    }

    .add .btntxt {
        margin-top: 100px;
        text-align: center;
        color: #4f4f4f;
    }


    .env:hover {
        opacity: 1;
    }

    .env {
        border-radius: 3px;
        opacity: 0.95;
        display: inline-block;
        margin: 10px;
        padding: 10px;
        padding-top: 5px;
        width: 300px;
        height: 150px;
        color: white;
    }

    .env .id:hover {
        opacity: 1;
    }
    .env .id {
        text-align: center;
        font-size: 0.8em;
        margin-top: 0px;
        opacity: 0.7;
        padding-bottom: 10px;
    }
    .env .name {
        text-align: center;
        font-size: 1.1em;
        margin-bottom: 0px;
        margin-top: 5px;
    }

    .env .mode {
        opacity: 0.8;
    }

    .env .state {
        opacity: 0.8;
    }

    .section-name {
        color: #393a55;
        font-size: 1.2em;
        margin-top: 25px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.37);
    }


</style>


