<template>
    <div class="login" style="text-align: center;">
        <h1>Hi there!</h1>
        <el-form v-if="showlogin" ref="form" :model="loginData" label-width="0px" style="margin: 50px;">

            <el-alert v-if="loginResponse.Success === false " style="margin-bottom: 25px;"
                    :title="loginResponse.Error"
                    type="warning">
            </el-alert>


            <el-form-item>
                <el-input v-model="loginData.username" placeholder="Username"></el-input>
            </el-form-item>

            <el-form-item>
                <el-input v-model="loginData.password" placeholder="Password" show-password></el-input>
            </el-form-item>

            <el-form-item style="text-align: center">
                <el-button v-if="!loginPending" type="primary" @click="onSubmit">Login</el-button>
                <el-button v-if="loginPending" type="primary" @click="onSubmit" disabled>Login...</el-button>
            </el-form-item>
        </el-form>
        <div v-if="!showlogin" style="margin-top: 50px">
            Getting Things ready...
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                showlogin: false,
                loginData: {
                    username: '',
                    password: '',
                },
                loginPending: false,
                loginResponse: { Error: "", Success: true },
                alert: "",
                serverconf: {},
            }
        },
        mounted() {
            this.$store.dispatch("login",{
                data: {
                    username: "defaultUser",
                    password: "defaultPassword"
                },
                onSuccess: this.loggedinDelayed,
                onFailure: this.loginPage
            })
        },
        methods: {
            onSubmit() {
                this.$store.dispatch("login",{
                    data: this.loginData,
                    responseTarget: {obj: this, field: "loginResponse"},
                    pendingTarget: {obj: this, field: "loginPending"},
                    onSuccess: this.loggedIn
                })
            },
            loginPage(){
                var t = this
                setTimeout(function () {
                    t.showlogin = true
                },1000)
            },
            loggedinDelayed(){
                setTimeout(this.loggedIn,1500)
            },
            loggedIn(){
                this.$router.push("/env")
            }
        }
    }
</script>


<style>

    h1 {
        text-align: center;
        margin-bottom: 10px;
        color: #393a55;
        font-size: 1.5em;
    }
</style>