<template>
    <div>
        <div class="tph tph1 mb1">
            <p>Create new local Environment</p>
        </div>

        <el-alert v-if="formResponse.Success === false " style="margin-bottom: 25px;"
                  :title="formResponse.Error"
                  type="warning">
        </el-alert>


        <el-form ref="form" :model="form" label-width="150px" style="width: 700px;">

            <el-form-item label="Environment Name">
                <el-input v-model="form.name"></el-input>
            </el-form-item>

            <el-form-item label="Network" >
                <el-select v-model="form.network" placeholder="please select Tezos Network" v-on:change="fixform()">
                    <el-option label="Mainnet" value="mainnet"></el-option>
                    <el-option label="Carthagenet" value="carthagenet"></el-option>
                    <el-option label="Sandbox" value="sandbox"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="History Mode" v-if="showHM">
                <el-select v-on:change="fixform()" v-model="form.historyMode" placeholder="please select history mode">
                    <el-option label="Rolling" value="rolling"></el-option>
                    <el-option label="Full" value="full"></el-option>
                    <el-option label="Archive" value="archive"></el-option>
                </el-select>
            </el-form-item>


            <el-form-item label="Protocol" v-if="showProto">
                <el-select v-on:change="fixform()" v-model="form.protocol" placeholder="please select protocol">
                    <el-option v-for="item in protos" v-bind:key="item.proto" :label="item.name" :value="item.proto"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item v-if="showSandboxConfig" label="Sandbox config">
                <el-button @click="$modal.show('sandboxConfig')">Edit</el-button>
            </el-form-item>

            <el-form-item v-if="showSandboxParams" label="Protocol Parameters">
                <el-button @click="$modal.show('sandboxParams')">Edit</el-button>
            </el-form-item>



            <el-form-item label="Create from Snapshot" v-if="showSnapshot" v-on:change="fixform()">
                <el-switch v-on:change="fixform()" v-model="form.fromSnapshot"></el-switch>
            </el-form-item>

            <el-form-item label="Create from Backup" v-if="showBackup" v-on:change="fixform()">
                <el-switch v-on:change="fixform()" v-model="form.fromBackup"></el-switch>
            </el-form-item>

            <div v-if="showBackup ">
                <el-form-item v-if="form.fromBackup" v-on:change="fixform()" label="Backup Source">
                    <el-select  v-model="form.BackupSource" placeholder="please select backup source">
                        <el-option label="TulipTools Archive Backups" value="tulip"></el-option>
                        <el-option label="Custom URL" value="custom"></el-option>
                    </el-select>
                </el-form-item>


                <el-form-item label="Backup URL Name" v-if="showBackup && form.BackupSource == 'custom'">
                    <el-input v-on:change="fixform()" v-model="form.backupURL"></el-input>
                </el-form-item>
            </div>


            <div v-if="showSnapshot" v-on:change="fixform()">
                <el-form-item v-if="form.fromSnapshot" v-on:change="fixform()" label="Snapshot Source">
                    <el-select v-model="form.SnapshotSource" placeholder="please select snapshot source">
                        <el-option label="TulipTools Snapshots" value="tulip"></el-option>
                        <el-option label="Custom URL" value="custom"></el-option>
                    </el-select>
                </el-form-item>


                <el-form-item v-on:change="fixform()" v-if="showSnapshot && form.SnapshotSource == 'custom'" label="Snapshot URL Name">
                    <el-input v-on:change="fixform()" v-model="form.snapshotURL"></el-input>
                </el-form-item>
            </div>


            <el-form-item label="Max CPU ( cores ) ">
                <el-slider
                        v-model="form.cpulimit"
                        :step="0.25"
                        :max="4"
                        :min="0.5"
                        show-stops>
                </el-slider>
            </el-form-item>

            <el-form-item label="Max RAM ( MB )">
                <el-slider
                        v-model="form.memlimit"
                        :step="500"
                        :min="2000"
                        :max="10000"
                        show-stops>
                </el-slider>
            </el-form-item>

            <el-form-item>
                <el-button v-if="!formPending" type="primary" @click="sumbit">Create</el-button>
                <el-button v-if="!formPending" @click="toPage('back')">Cancel</el-button>

                <el-button v-if="formPending" type="primary" disabled>Create...</el-button>
                <el-button v-if="formPending" disabled>Cancel</el-button>
            </el-form-item>
        </el-form>

        <modal name="sandboxConfig" :resizable="true" :width="800" :height="310" style="z-index: 999999">
            <div style="margin: 15px;">
                <el-alert style="margin-bottom: 15px;"
                        title="I hope you know what you are doing."
                          :closable="false"
                        type="info">
                </el-alert>
                <div >
                    <textarea name="" id="sbconfig" cols="90" rows="10" style="width: 765px; height: 180px; z-index:99999;" v-model="form.sandboxConfig"></textarea>
                </div>
            </div>
        </modal>

        <modal name="sandboxParams" :resizable="true" :width="800" :height="510" style="z-index: 999999">
            <div style="margin: 15px;">
                <el-alert style="margin-bottom: 15px;"
                        title="With great power come very strange bugs."
                          :closable="false"
                        type="info">
                </el-alert>
                <div >
                    <textarea name="" id="sbparams" cols="90" rows="10" style="width: 765px; height: 380px; z-index:99999;" v-model="form.sandboxParams"></textarea>
                </div>
            </div>
        </modal>

    </div>
</template>
<script>
    // @ is an alias to /src


    export default {
        name: 'EnvLogs',
        data() {
            return {
                protos: [
                    { name:"Genesis", proto: "ProtoGenesis"},
                    { name:"PsCARTHA", proto: "PsCARTHAGazKbHtnKfLzQg3kms52kSRpgnDY982a9oYsSXRLQEb"},
                ],
                form: {
                    name: '',
                    fromSnapshot: false,
                    cpulimit: 2,
                    memlimit: 4000,
                    network: "",
                    fromBackup: false,
                    BackupSource: "",
                    SnapshotSource: "",
                    historyMode: "",
                    backupURL: "",
                    snapshotURL:"",
                    protocol:"ProtoGenesis",
                    sandboxConfig: "",
                    sandboxParams: "",
                },
                showHM: false,
                showSnapshot: false,
                showBackup: false,
                showProto: false,
                formResponse: { Error: "", Success: true },
                showSandboxConfig: false,
                showSandboxParams: false,
                formPending: false,
                loadedSandboxConfig: false,
                loadedSandboxParams: ""
            }
        },
        methods: {
            sumbit(){
                this.formResponse.Success = true
                this.formResponse.Error = ""

                if (this.valdiateForm()){
                    this.$store.dispatch("createLocalEnv",{
                        data: this.form,
                        responseTarget: {obj: this, field: "formResponse"},
                        pendingTarget: {obj: this, field: "formPending"},
                        onSuccess: this.submitAfter
                    })
                }
            },
            loadFiles(){
                if (this.loadedSandboxConfig === false) {
                    this.$store.dispatch("loadFile", {
                        file: "sandbox_json",
                        onSuccess: this.setSandboxConfig
                    })
                    this.loadedSandboxParams = true
                }
                if (this.loadedSandboxParams !== this.form.protocol && this.form.protocol !== "ProtoGenesis") {
                    this.$store.dispatch("loadFile", {
                        file: this.form.protocol,
                        onSuccess: this.setSandboxParams
                    })

                    this.loadedSandboxConfig = this.form.protocol
                }
            },
            setSandboxParams(data){
                this.form.sandboxParams = JSON.stringify(data.data, null, 2)
            },
            setSandboxConfig(data){
                this.form.sandboxConfig = JSON.stringify(data.data, null, 2)
                console.log(data.data)
            },
            valdiateForm(){
                if (this.form.name === "") {
                    this.setError("Name cannot be empty!")
                    return false
                }
                if (this.form.name.length <= 3) {
                    this.setError("Name too short!")
                    return false
                }
                if ( this.form.fromBackup) {
                    if (this.form.BackupSource === "custom") {
                        if ( ! this.validURL(this.form.backupURL)) {
                            this.setError("Backup URL invalid")
                            return false
                        }
                    }
                }
                if ( this.form.fromSnapshot) {
                    if (this.form.SnapshotSource === "custom") {
                        if ( ! this.validURL(this.form.snapshotURL)) {
                            this.setError("Snapshot URL invalid")
                            return false
                        }
                    }
                }
                return true
            },
            validURL(str) {
                var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
                    '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
                    '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
                    '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
                    '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
                    '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
                return !!pattern.test(str);
            },
            setError(msg) {
                this.formResponse.Success = false
                this.formResponse.Error = msg
            },
            submitAfter(){
              this.toPage("back")
            },
            toPage (page) {
                if (page === "back") { this.$router.push("/env") }

            },
            fixform: function () {
                console.log("fixform")

                if (this.form.network === '' || this.form.network === 'sandbox') {
                    this.showHM = false
                    this.showSnapshot = false
                    this.showBackup = false
                    this.form.historyMode = ''
                    this.form.fromSnapshot = false
                    this.form.fromBackup = false
                } else {
                    this.showHM = true
                }

                if (this.form.historyMode === '') {
                    this.showSnapshot = false
                    this.showBackup = false
                } else {
                    if (this.form.historyMode === 'archive'){
                        this.showBackup = true
                        this.showSnapshot = false
                    } else {
                        this.showBackup = false
                        this.showSnapshot = true
                        console.log("show snap")
                    }
                }


                if (this.form.network === 'sandbox'){
                    this.form.historyMode = "archive"
                    this.showProto = true
                }

                if (this.form.network === "sandbox") {
                    this.showSandboxConfig = true
                    if (this.form.protocol !== "ProtoGenesis") {
                        this.showSandboxParams = true
                    }
                } else {
                    this.showSandboxConfig = false
                    this.showSandboxParams = false
                }

                this.loadFiles()

            }
        },
        components: {
        }
    }
</script>


<style>


</style>