<template>
    <div>
        <el-row>
                <div class="tph tph1 mb1">
                    <p>Create new remote Environment</p>
                </div>

                <el-alert v-if="formResponse.Success === false " style="margin-bottom: 25px;"
                          :title="formResponse.Error"
                          type="warning">
                </el-alert>


                <el-form ref="form" :model="form" v-if="formshow" label-width="150px" style="width: 700px;">

                    <el-form-item label="Environment Name">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>

                    <el-form-item label="RPC Endpoints">
                        <el-row v-for="(item,id) in form.endpoints" v-bind:key="item">
                            <el-col :span="21">
                                <el-input class="url" v-model="form.endpoints[id].url" placeholder="https://rpcproxy.tulip.tools/"></el-input>
                            </el-col>
                            <el-col :span="2" v-if="id !== 0">
                                <el-button type="danger" class="rm" @click="removeURL(id)">Delete</el-button>
                            </el-col>
                        </el-row>
                        <el-button class="addbtn" v-on:click="addE()">Add another Endpoint</el-button>
                        <el-button class="addbtn" v-on:click="addPre()">Use predefined Servers</el-button>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="sumbit">Create</el-button>
                        <el-button @click="toPage('back')" >Cancel</el-button>
                    </el-form-item>
                </el-form>
        </el-row>

        <modal name="predefined" width="1000" height="450">
            <div style="margin: 25px">
                <h4 style="text-align: center">Choose a predefined Endpoint</h4>
                <br>
                <el-row>
                    <el-col :span="8"><button v-on:click="setRemoteUrl('Giga_Mainnet', 'https://mainnet-tezos.giganode.io')" style="padding: 15px; width: 290px"><img src="https://tezos.giganode.io/_nuxt/img/68c5ace.svg" height="25px" alt=""><br>Mainnet</button></el-col>
                    <el-col :span="8"><button v-on:click="setRemoteUrl('Giga_Testnet', 'https://testnet-tezos.giganode.io')" style="padding: 15px; width: 290px"><img src="https://tezos.giganode.io/_nuxt/img/68c5ace.svg" height="25px" alt=""><br>Carthagenet</button></el-col>
                    <el-col :span="8"><button v-on:click="setRemoteUrl('Giga_Labnet', 'https://labnet-tezos.giganode.io')" style="padding: 15px; width: 290px"><img src="https://tezos.giganode.io/_nuxt/img/68c5ace.svg" height="25px" alt=""><br>Labnet</button></el-col>
                </el-row>
                <el-row style="margin-top: 25px;">
                    <el-col :span="8"><button v-on:click="setRemoteUrl('Tulip_Main', 'https://rpcproxy.tulip.tools/mainnet')" style="padding: 15px; width: 290px;"><img src="https://rpc.tulip.tools/img/logo.d2f93038.png" height="25px" alt=""><br>Mainnet</button></el-col>
                    <el-col :span="8"><button v-on:click="setRemoteUrl('Tulip_Cartha', 'https://rpcproxy.tulip.tools/carthagenet')" style="padding: 15px; width: 290px;"><img src="https://rpc.tulip.tools/img/logo.d2f93038.png" height="25px" alt=""><br>Carthagenet</button></el-col>
                    <el-col :span="8"><button v-on:click="setRemoteUrl('Tulip_Zero', 'https://rpcproxy.tulip.tools/zeronet')" style="padding: 15px; width: 290px;"><img src="https://rpc.tulip.tools/img/logo.d2f93038.png" height="25px" alt=""><br>Zeronet</button></el-col>
                </el-row>
                <el-row style="margin-top: 25px;">
                    <el-col :span="6"><button v-on:click="setRemoteUrl('Smartpy_Main', 'https://mainnet.smartpy.io')" style="padding: 15px; width: 200px;"><img src="https://smartpy.io/img/Layer11.png" height="25px" alt=""><br>Mainnet</button></el-col>
                    <el-col :span="6"><button v-on:click="setRemoteUrl('Smartpy_Cartha', 'https://carthagenet.smartpy.io')" style="padding: 15px; width: 200px;"><img src="https://smartpy.io/img/Layer11.png" height="25px" alt=""><br>Carthagenet</button></el-col>
                    <el-col :span="6"><button v-on:click="setRemoteUrl('Smartpy_Zero', 'https://zeronet.smartpy.io')" style="padding: 15px; width: 200px;"><img src="https://smartpy.io/img/Layer11.png" height="25px" alt=""><br>Zeronet</button></el-col>
                    <el-col :span="6"><button v-on:click="setRemoteUrl('Smartpy_Labnet', 'https://labnet.smartpy.io')" style="padding: 15px; width: 200px;"><img src="https://smartpy.io/img/Layer11.png" height="25px" alt=""><br>Labnet</button></el-col>
                </el-row>
            </div>
        </modal>


    </div>
</template>
<script>
    // @ is an alias to /src
    import axios from "axios"

    export default {
        name: 'EnvLogs',
        data() {
            return {
                formshow: true,
                formResponse: { Error: "", Success: true },
                form: {
                    name: '',
                    endpoints: [
                        { url:"" }
                    ]
                },
            }
        },
        methods: {
            setRemoteUrl(name, url){
                this.formshow = false
                this.form.name = name
                this.form.endpoints = [{
                    url: url
                }]
                this.$modal.hide("predefined")
                this.formshow = true
            },
            addPre(){
                this.$modal.show("predefined")
            },
            makeRequest(){
                var a = []
                this.form.endpoints.forEach((b) => {
                    if (b.url !== "") {
                        a.push(b.url)
                    }
                })
                this.$store.dispatch("createRemoteEnv",{
                    data: {
                        name: this.form.name,
                        shared: false,
                        remotes: a
                    },
                    responseTarget: {obj: this, field: "formResponse"},
                    pendingTarget: {obj: this, field: "formPending"},
                    onSuccess: this.submitAfter
                })
            },
            sumbit(){

                this.formResponse.Success = true
                this.formResponse.Error = ""

                this.valdiateForm().then(this.makeRequest)


            },
            async valdiateForm(){
                var t = this
                return new Promise(function (resolve, reject) {
                    if (t.form.name === "") {
                        t.setError("Name cannot be empty!")
                        reject(0)
                    }
                    if (t.form.name.length <= 3) {
                        t.setError("Name too short!")
                        reject(0)
                    }
                    if ( t.form.endpoints.length === 1 && t.form.endpoints[0].url === "") {
                        t.setError("No endpoints configured!")
                        reject(0)
                    }

                    // check urls
                    var checkurl = async function (u) {
                        return new Promise(function (resolve, reject) {
                            axios.get(u+"/chains/main/blocks/head")
                                .then(response => {
                                    if (response.data.header != undefined && response.data.header.level >= 1) {
                                        resolve(true)
                                    } else {
                                        t.setError(u + " is not a valid RPC endpoint")
                                        reject(false)
                                    }
                                }).catch(a => {
                                    console.log(a)
                                t.setError(u + " is not a valid RPC endpoint")
                                reject(false)
                            })
                        });
                    }

                    var p = []
                    t.form.endpoints.forEach(item => {
                        console.log(item.url)
                        p.push(checkurl(item.url))
                    })

                    Promise.all(p).then(value => {
                        value.forEach(a => {
                            if ( a === false ) {
                                reject(false)
                            }
                        })
                        resolve(true)
                    })
                })
            },
            submitAfter(){
                this.toPage("back")
            },
            setError(msg) {
                this.formResponse.Success = false
                this.formResponse.Error = msg
            },
            removeURL: function(index){
                var n = []
                this.form.endpoints.forEach(function (val,index2) {
                    if (index !== index2) {
                        n.push(val)
                    }
                })
                this.form.endpoints = n
                if (this.form.endpoints.length === 0 ){
                    this.form.endpoints = [{url:""}]
                }
            },
            toPage: function(page){
                if (page === "back") { this.$router.push("/env") }
            },
            addE: function () {
                this.form.endpoints.push({ url:"" })
            }
        },
        components: {
        }
    }
</script>


<style>
    .rm {
        top: 4px;
        position: relative;
        margin: 10px;
        padding: 10px;
        margin-left: 15px;
        margin-top: 0px;
        opacity: 0.3;
    }

    .rm:hover {
        opacity: 0.8;
    }

    .rm p {
        font-size: 1em;
    }

    .addbtn {
        margin-top: 15px;
    }

    .url {
        margin-top: 5px;
    }

</style>