<template>
    <div>
        <div class="tph tph1 mb1">
            <p>Projects</p>
        </div>

        <el-table v-if="projects.length >= 1"
                :data="projects"
                style="width: 100%">
            <el-table-column  @click="goTo(scope)"
                    fixed
                    prop="id"
                    label="Id"
                    width="220">
            </el-table-column>
            <el-table-column  @click="goTo(scope)"
                    fixed
                    prop="name"
                    label="Name"
                    width="200">
            </el-table-column>
            <el-table-column  @click="goTo(scope)"
                    prop="description"
                    label="Description"
                    width="350">
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="Operations"
                    width="350">
                <template slot-scope="scope">
                    <el-button size="medium" style="width: 150px" @click="goTo(scope)">Detail</el-button>
                    <el-button type="danger" @click="deleteProject(scope.$index)" size="medium">Delete</el-button>
                </template>
            </el-table-column>
        </el-table>

        <br>
        <el-button size="medium" @click="newProject">Create new Project</el-button>

    </div>
</template>
<script>
    // @ is an alias to /src
    export default {
        name: 'Projects',
        data () {
            return {
                projects: [],
            }
        },
        methods: {
            deleteProject(id){
                var p = this.projects[id]
                this.$store.dispatch("rmProject", {
                    env: this.$route.params.id,
                    id: p.id,
                    onSuccess: this.getProjects
                })
            },
            newProject(){
                this.$router.push('/env/' + this.$route.params.id + '/projects/new/')
            },
            getProjects(){
                this.$store.dispatch("getProjects", {
                    env: this.$route.params.id,
                    onSuccess: this.setProjects
                })
            },
            setProjects(data){
                var n = []
                data.data.forEach(function (a) {
                    if (a.Id.length >= 5) {
                        n.push({
                            name: a.Name,
                            description: a.Description,
                            id: a.Id,
                            alias: a.Alias
                        })
                    }
                })
                this.projects = n
            },
            goTo(scope) {
               var id = this.projects[scope.$index].id
                this.$router.push('/env/' + this.$route.params.id + '/projects/' + id)
            }
        },
        components: {
        },
        mounted() {
            this.$store.dispatch("setPage","Projects")
            this.getProjects()
        }
    }
</script>


<style>


</style>