<template>
    <div>
        <div class="tph tph1 mb1">
            <p>Tplus Server Management</p>
        </div>

        <el-row style="min-width: 1200px;" span="5">
            <el-col :span="6">
                <el-card class="box-card" style="max-width: 300px">
                    <div slot="header" class="clearfix">
                        <span>Host information</span>
                    </div>
                    <div class="text item">
                        <table class="infotable" style="width: 100%; margin-top: 20px;">
                            <tr>
                                <td class="tablelabel">Hostname:</td>
                                <td style="text-align: right" > {{ proc.Hostname }}</td>
                            </tr>
                            <tr>
                                <td class="tablelabel">CPU Count:</td>
                                <td style="text-align: right">{{ proc.CPUCount}}</td>
                            </tr>
                            <tr>
                                <td class="tablelabel">Processes :</td>
                                <td style="text-align: right">{{ proc.Processes}}</td>
                            </tr>
                            <tr>
                                <td class="tablelabel">Processes Active:</td>
                                <td style="text-align: right">{{ proc.ProcessesRunning}}</td>
                            </tr>
                        </table>
                    </div>
                </el-card>

            </el-col>
            <el-col :span="8" style="margin-left: 15px;">

                <el-card class="box-card" style="max-width: 400px">
                    <div slot="header" class="clearfix">
                        <span>Host Memory</span>
                    </div>
                    <div class="text item">
                        <el-progress :text-inside="true" :stroke-width="20" :percentage="mempercentage"></el-progress>
                        <table class="infotable" style="width: 100%; margin-top: 20px;">
                            <tr>
                                <td class="tablelabel">Total:</td>
                                <td style="text-align: right" > {{ toMb(memory.Total) }} MB</td>
                            </tr>
                            <tr>
                                <td class="tablelabel">Used: </td>
                                <td style="text-align: right">{{ toMb(memory.Used) }} MB</td>
                            </tr>
                            <tr>
                                <td class="tablelabel">Cached:</td>
                                <td style="text-align: right">{{ toMb(memory.Cached) }} MB</td>
                            </tr>
                        </table>
                    </div>
                </el-card>

            </el-col>

            <el-col :span="8" style="margin-left: 15px;">

                <el-card class="box-card" style="max-width: 400px">
                    <div slot="header" class="clearfix">
                        <span>Host CPU</span>
                    </div>
                    <div class="text item">
                        <el-progress :text-inside="true"  status="warning" :stroke-width="20" :percentage="cpupercentage"></el-progress>
                        <table class="infotable" style="width: 100%; margin-top: 20px;">
                            <tr>
                                <td class="tablelabel">Total:</td>
                                <td style="text-align: right" > {{ cpu.Total }} %</td>
                            </tr>
                        </table>
                    </div>
                </el-card>

            </el-col>
        </el-row>


        <el-row style="margin-top: 50px;">
            <el-col :span="22">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>Tplus System Logs</span>
                        <el-button style="float: right; padding: 3px 0" type="text" @click="getLogs">Update</el-button>
                    </div>
                    <table v-for="o in logs" :key="o.Id" class="text item">
                        <tr>
                            <td v-on:click="showLog(o)" style="width: 200px;">{{ o.Timestamp | moment("from") }}</td>
                            <td v-on:click="showLog(o)">{{ o.Message }}</td>
                            <td>
                                <el-tag effect="dark" type="success" size="mini" style="margin-left: 15px;" v-if="o.Context.envName != undefined">{{ o.Context.envName }}</el-tag>
                                <el-tag effect="dark" size="mini" style="margin-left: 15px;" v-if="o.Context.projectTaskName != undefined">{{ o.Context.projectTaskName }}</el-tag>
                                <el-tag effect="dark" size="mini" style="margin-left: 15px;" v-if="o.Context.projectName != undefined">{{ o.Context.projectName }}</el-tag>
                                <el-tag effect="dark" type="info" size="mini" style="margin-left: 15px;" v-if="o.Context.Blocklevel != undefined">{{ o.Context.Blocklevel }}</el-tag>
                                <el-tag effect="dark" type="info" size="mini" style="margin-left: 15px;" v-if="o.Context.Blockhash != undefined">{{ firstn(o.Context.Blockhash,16) }}</el-tag>
                                <el-tag effect="dark" type="warning" size="mini" style="margin-left: 15px;" v-if="o.Context.pluginName != undefined">{{ o.Context.pluginName }}</el-tag>
                                <el-tag size="mini" style="margin-left: 15px;" v-if="o.Context.taskDescription != undefined">{{ o.Context.taskDescription}}</el-tag>
                                <el-tag type="warning" style="margin-left: 15px;" v-if="o.Context.taskFilename != undefined">{{ o.Context.taskFilename}}</el-tag>
                                <el-tag type="warning" v-on:click="showTask(o)" style="margin-left: 15px;" v-if="o.Context.taskId != undefined">{{ o.Context.taskId}}</el-tag>

                            </td>
                        </tr>
                    </table>
                </el-card>
            </el-col>

        </el-row>


        <modal class="largemodal" name="logdetail" :height="800"  title="Log Event Deteails" size="xl">
            <pre style="margin: 25px;">
                <h4>Log Event Details</h4>
                <code>
{{logdetail}}
                </code>
            </pre>
        </modal>

        <modal class="taskdetail" name="taskdetail" :height="800"  title="Log Event Deteails" size="xl">
            <pre style="margin: 25px;">
                <h4>Task Details</h4>
                <code>
{{taskdetail}}
                </code>
            </pre>
        </modal>



    </div>
</template>
<script>
    // @ is an alias to /src
    export default {
        name: 'Manage Environment',
        data () {
            return {
                proc: {},
                memory: {},
                cpu: {},
                mempercentage: 50,
                cpupercentage: 50,
                logs: [],
                logdetail: {},
                taskdetail: {},
                taskLogs: ""
            }
        },
        timers: {
            updateAll: { time: 6000, autostart: true, repeat: true },
        },
        mounted() {
            this.$store.dispatch("setPage","TplusServer")
            this.updateAll()
            this.getLogs()
        },
        methods: {
            showLog(log) {
              this.logdetail = log
              this.$modal.show("logdetail")
            },
            showTask(log) {
                this.$store.dispatch("getSystemTask",{
                    env: log.Context.envId,
                    task: log.Context.taskId,
                    responseTarget: {obj: this, field: "taskdetail"},
                    onSuccess: this.showTaskModal
                })
            },
            showTaskModal(){
                this.tasklogs = this.taskdetail.Logs
                delete this.taskdetail.Logs
                delete this.taskdetail.Task
                delete this.taskdetail.ObjectsUpdated
                this.$modal.show("taskdetail")
            },
            firstn(a,b) {
                return a.substring(0,b)
            },
            getLogs(){
                this.$store.dispatch("systemLogs",{
                    n: 100,
                    responseTarget: {obj: this, field: "logs"},
                })
            },
            toMb(a) {
                return Math.floor(a/1024 / 10.24 ) / 100
            },
            updateAll(){
                this.getCPU()
                this.getMemory()
                this.getProc()
            },
            getMemory(){
                this.$store.dispatch("osMemory",{
                    onSuccess: this.setMemory
                })
            },
            setMemory(data){
                this.memory = data.data
                this.mempercentage = Math.floor((data.data.Used / data.data.Total) * 100)
            },
            getCPU(){
                this.$store.dispatch("osCPU",{
                    onSuccess: this.setCPU
                })
            },
            setCPU(data){
                data.data.Total = Math.round(data.data.Total * 100) / 100
                this.cpu = data.data
                this.cpupercentage = Math.floor(data.data.Total)
            },
            getProc(){
                this.$store.dispatch("osProc",{
                    responseTarget: {obj: this, field: "proc"},
                })
            },
        }
    }
</script>


<style>


    .tablelabel {
        margin-right: 55px;

    }

    .infotable tr {
        font-size: 0.9em;
        padding-top: 5px;
        border-bottom: 1px solid #393a55;
    }

    .largemodal {
        width: 800px;
        display: block;
        background-color: rgba(57, 58, 85, 0.1);
    }

</style>