<template>
    <div>
        <div class="tph tph1 mb1">
            <p>New Project</p>
        </div>

        <el-tabs v-model="activeName" @tab-click="handleClick" style="width: 800px;">
            <el-tab-pane label="Create" name="create" >
                <p class="pd">Create an new project from scratch</p>
                <el-form ref="form" :model="form" label-width="120px" style="width: 500px;">
                    <el-form-item label="Name">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>
                    <el-form-item label="Description ">
                        <el-input v-model="form.description"></el-input>
                    </el-form-item>
                    <el-form-item label="Template">
                        <el-button v-on:click="$modal.show('projectSelect')">{{form.project.name}}</el-button>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">Create</el-button>
                        <el-button @click="abort">Cancel</el-button>
                    </el-form-item>
                </el-form>

            </el-tab-pane>
            <el-tab-pane label="Git Clone" name="git">
                <p class="pd">Clone a new project from git</p>
                <el-alert style="margin: 25px;"
                        v-if="giterror != ''"
                        :title="giterror"
                        type="error">
                </el-alert>

                <el-form ref="form" :model="form" label-width="120px" style="width: 500px;">
                <el-form-item label="Name">
                    <el-input v-model="gitform.name"></el-input>
                </el-form-item>
                <el-form-item label="Description ">
                    <el-input v-model="gitform.description"></el-input>
                </el-form-item>
                <el-form-item label="Repository">
                    <el-input v-model="gitform.repourl"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="gitSubmit">Create</el-button>
                    <el-button @click="abort">Cancel</el-button>
                </el-form-item>
                </el-form>
            </el-tab-pane>
            <el-tab-pane label="Import" name="import">
                <p class="pd">Import from another environemnt</p>
                <p style="text-align: center" v-if="importable.length === 0">No Projects to import</p>

                <el-table v-if="importable.length >= 1"
                          :data="importable"
                          style="width: 800px">
                    <el-table-column
                            fixed
                            prop="envname"
                            label="Environment"
                            width="180">
                    </el-table-column>
                    <el-table-column
                                      prop="name"
                                      label="Name"
                                      width="150">
                    </el-table-column>
                    <el-table-column
                            prop="description"
                            label="Description"
                            width="150">
                    </el-table-column>
                    <el-table-column
                            fixed="right"
                            label="Operations"
                            width="125">
                        <template slot-scope="scope">
                            <el-button size="medium" style="width: 100px" @click="importProject(scope)">Import</el-button>
                        </template>
                    </el-table-column>
                </el-table>


            </el-tab-pane>
            <el-tab-pane label="CLI" name="cli">
                <p class="pd">Create a new Project form your CLI</p>
                <pre class="precode"><code>
# To connect a local project to this Environment, run
$ tplus env use # Select this environment
$ cd ..... # go to the root of your project
$ tplus project create
                </code></pre>
            </el-tab-pane>
        </el-tabs>


        <modal name="projectSelect" :resizable="true" :width="800" :height="510" style="z-index: 999999;">
            <div style="margin: 15px; overflow-y: scroll; height: 490px">
                <div>
                    <el-table
                            :data="projects"
                            style="width: 100%">
                        <el-table-column
                                prop="name"
                                label="Name"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="description"
                                label="Description">
                        </el-table-column>
                        <el-table-column
                                fixed="right"
                                width="120">
                            <template slot-scope="scope">
                                <el-button @click="selectProject(scope.$index)" size="medium">Select</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </div>
        </modal>



    </div>
</template>
<script>
    // @ is an alias to /src
    export default {
        name: 'Projects',
        data () {
            return {
               activeName: 'create',
               form: {
                   name:"",
                   description:"",
                   alias:"",
                   project: {},
               },
                importable: [],
                giterror: "",
                gitform: {
                    name:"",
                    description:"",
                    repourl: "https://example.com/repo.git"
                },
                projects: [],
            }

        },
        components: {
        },
        methods: {
          onSubmit(){
              if (this.form.name === "") {
                  this.form.name = "Unnamed Project"
              }
              this.form.project = this.form.project.file
              var t = this
              this.$store.dispatch("newProject", {
                  env: this.$route.params.id,
                  data: this.form,
                  onSuccess: function () {
                      t.$router.push('/env/' + t.$route.params.id + '/projects/')
                  }
              })
          },
            gitSubmit(){
              this.giterror = ""
                if (this.gitform.name === "") {
                    this.giterror = "Name can not be emtpy"
                    return
                }
                if ( !this.gitform.repourl.startsWith("http") || !this.gitform.repourl.endsWith(".git")){
                    this.giterror = "Repourl must be in format: http(s)://domain.com/../repo.git"
                    return
                }
                if (this.gitform.repourl.includes("example.com")){
                    this.giterror = "Invalid git url"
                    return
                }
                var t = this
                this.$store.dispatch("newProjectGit", {
                    env: this.$route.params.id,
                    data: this.gitform,
                    onSuccess: function () {
                        t.$router.push('/env/' + t.$route.params.id + '/projects/')
                    }
                })
            },
            getImportables(){
                this.$store.dispatch("getProjectsImportable", {
                    env: this.$route.params.id,
                    onSuccess: this.setImportable
                })
            },
            importProject(p){
              p = this.importable[p["$index"]]
                var t = this
                this.$store.dispatch("newProjectImport", {
                    env: this.$route.params.id,
                    data: {
                        name: p.name,
                        description: p.description,
                        projectId: p.id,
                    },
                    onSuccess: function () {
                        t.$router.push('/env/' + t.$route.params.id + '/projects/')
                    }
                })
            },
            selectProject(a){
              this.form.project = this.projects[a]
                this.$modal.hide("projectSelect")
            },
            getProjects(){
                const Http = new XMLHttpRequest()
                var url = "/projectrepo/projects.json"
                Http.open("GET", url);
                Http.send();

                Http.onload = () => {
                    this.projects = JSON.parse(Http.responseText)
                    this.form.project = this.projects[0]
                }

            },
            abort(){
                this.$router.push('/env/' + this.$route.params.id + '/projects/')
            },
            setImportable(data){
                var n = []
                data.data.forEach(function (a) {
                    n.push({
                        name: a.Name,
                        description: a.Description,
                        id: a.Id,
                        alias: a.Alias,
                        envname: a.EnvName,
                    })
                })
                this.importable = n
            },
        },
        mounted() {
            this.getProjects()
            this.getImportables()
            this.$store.dispatch("setPage","Projects")
        }
    }
</script>


<style>

    .pd {
        text-align: center;
        opacity: 0.6;
    }

    .precode {
        background: #393a55;
        color: #d6d6d6;
        margin: 25px;
        padding: 5px;
        padding-left: 15px;
    }

</style>