<template>
    <div>
        <div class="tph tph1 mb1">
            <p>Project Details</p>
        </div>

      <el-row>
          <el-menu style="width: 1400px;" background-color="rgba(0,0,0,0)" :default-active="1" class="el-menu-demo" mode="horizontal" @select="handleSelect">
              <el-menu-item :index="1">Readme</el-menu-item>
              <el-menu-item :index="2">Tasks</el-menu-item>
              <el-menu-item :index="4">File Explorer</el-menu-item>
              <el-menu-item :index="5">Logs</el-menu-item>
              <el-menu-item :index="6">Variables</el-menu-item>
          </el-menu>
      </el-row>

        <el-row v-if="activeIndex === 6" class="vars">


            <el-card class="box-card-custom" style="min-width: 700px; margin-top: 25px">
                <div slot="header" class="clearfix">
                    <span>Project Variables</span>
                </div>
                <div v-if="variables.length === 0">
                    No variables available
                </div>
                <div class="text item" v-if="variables.length >= 1">
                    <table label-width="120px" v-for="a in variables" v-bind:key="a.Name">
                        <tr v-if="a.Type !== 'address'" style="margin-top: 10px;">
                            <td style="width: 350px;"> <span style="font-size: 1.1em">{{a.Description}}</span> <br> <span style="opacity: 0.8; margin-top: 2px;">{{ a.Name }}</span></td>
                            <td><input class="varsinput" v-model="varsform[a.Name]"></td>
                        </tr>
                        <tr v-if="a.Type == 'address'" style="margin-top: 10px;">
                            <td style="width: 350px;"> <span style="font-size: 1.1em">{{a.Description}}</span> <br> <span style="opacity: 0.8; margin-top: 2px;">{{ a.Name }}</span></td>
                            <td>
                                <el-button @click="changeAddress(a.Name)">{{varsform[a.Name]}}</el-button>
                            </td>
                        </tr>
                        <hr style="opacity: 0">
                    </table>
                    <el-button v-if="varssave === false" style="margin-left: 355px;" type="primary" @click="saveVars">Save</el-button>
                    <el-button v-if="varssave === true" style="margin-left: 355px;" type="primary" disabled>Saving....</el-button>
                </div>
            </el-card>



            <el-card class="box-card-custom"  style="min-width: 1200px; margin-top: 25px">
                <div slot="header" class="clearfix">
                    <span>Task Variables</span>
                    <el-button style="float: right; padding: 3px 0" type="text" @click="getVars">Refresh</el-button>
                </div>
                <div class="text item">

                    <p v-if="compiledVars.length === 0">No variables available</p>
                    <p v-if="compiledVars.length >= 1">Here are all the variables that you can use in your Tasks</p>

                    <div class="compiledVarsWrapper">
                        <ul v-for="(a,b) in compiledVars" v-bind:key="a" class="compiledVars">
                            <li v-if="b.includes('secret')">           <span style="min-width: 250px; display: inline-block" >{{b}}:</span> <span style="opacity: 0.5">   ****** censored *****</span></li>
                            <li v-if="b.includes('secret') == false "> <span style="min-width: 250px; display: inline-block" >{{b}}:</span> <span style="opacity: 0.7">    {{a}}</span></li>
                        </ul>
                    </div>

                </div>
            </el-card>


        </el-row>


        <el-row v-if="activeIndex === 1">
            <markdown v-if="showreadme" class="readme">{{ readme }}</markdown>

            <div class="info">
                To access the project files run:
                <pre class="miniconsole">
tplus project init {{$route.params.pid}}
                </pre>
            </div>
        </el-row>

        <el-row v-if="activeIndex === 2" style="margin-top: 25px">
            <el-row>
                <el-col :span="7" style="border-right: 1px solid gray; min-height: 800px;" v-if="tasks != null && tasks.length >= 1" >
                    <div v-for="t in tasks" v-bind:key="t.Filename" >
                        <div v-if="t.Error !== ''" class="task">
                            <el-card class="box-card-custom">
                                <div slot="header" class="clearfix">
                                    <span> <i class="el-icon-warning" style="color: orange; margin-right: 15px; font-size: 20px;"></i>   {{ t.Filename }}</span>
                                </div>
                                <div class="text item">
                                    <el-alert
                                            :title="t.Error"
                                            type="error"
                                            :closable="false"
                                            effect="dark">
                                    </el-alert>
                                </div>
                            </el-card>
                        </div>
                        <div v-if="t.Error === ''" class="task">
                            <el-card class="box-card-custom">
                                <div slot="header" class="clearfix">
                                    <span>
                                    <el-button v-if="taskprogress == false" style="width: 350px" size="medium" @click="runTask(t.Filename)" type="primary" plain >{{ t.Name }}</el-button>
                                    <el-button v-if="taskprogress == true"  style="width: 350px" size="medium" @click="runTask(t.Filename)" type="primary" plain disabled>{{ t.Name }}</el-button>
                                    </span>
                                </div>
                                <div class="text item">
{{ t.Description }}
                                </div>
                            </el-card>
                        </div>
                    </div>
                </el-col>
                <el-col :span="17" style="padding-left: 15px;" v-if="tasks != null && tasks.length >= 1">
                    <MonacoEditor
                            v-if="runtask !== ''"
                            width="100%"
                            height="1100"
                            theme="vs-dark"
                            language="json"
                            :editable="false"
                            :options="options"
                            :value="tasklogs"
                    >{{tasklogs}}</MonacoEditor>
                </el-col>
                <el-col v-if="tasks == null || tasks.length === 0" > No Tasks avaialble </el-col>
            </el-row>
        </el-row>

        <br>

        <el-row style="background-color: white" v-if="activeIndex === 4">
            <el-col :span="5" style="border-right: 1px solid rgba(57,58,85,0.52);min-height: 950px; overflow-y: auto;" v-if="files != null && files.length >= 1">
                <ul v-for="l in files" v-bind:key="l.name" class="filelist">
                    <li @click="setFile(l.path)" v-if="l.isDir == true"><pre>{{indent(l.indent)}}<i class="el-icon-folder"></i> {{ l.name }}</pre></li>
                    <li @click="setFile(l.path)" v-if="l.isDir == false"><pre>{{indent(l.indent)}}<i class="el-icon-document" style="opacity: 0.2"></i> {{ l.name }}</pre></li>
                </ul>
            </el-col>
            <el-col class="content" :span="19" v-if="files != null && files.length >= 1">
                <pre v-if="filecontent !== ''">   {{ activeFile }}</pre>
                <hr style="opacity: 0.2" v-if="filecontent !== ''">
                <MonacoEditor
                        v-if="filecontent !== ''"
                        width="100%"
                        height="800"
                        theme="vs-light"
                        language="bash"
                        :editable="false"
                        :options="options"
                        :value="filecontent"
                >{{filecontent}}</MonacoEditor>
            </el-col>
            <el-col v-if="files == null || files.length === 0" >
                No files available
            </el-col>
        </el-row>

        <el-row v-if="activeIndex === 5">
            <el-col :span="5" style="background-color: #2b2b2b; color: white; font-size: 0.9em" v-if="logtasks != null && logtasks.length >= 1">
                <div v-for="(t,i) in logtasks" v-bind:key="t.Id">
                    <div @click="setLogTask(i)" class="logtask" v-if="t.Id !== logtask">
                        <p class="name">{{ t.Name }} : {{ booltoStr(t.Finished)}} </p>
                        <p class="time"> {{ Date.parse(t.Created) | moment("from") }} </p>
                    </div>
                    <div @click="setLogTask(i)" class="logtask active" v-if="t.Id === logtask">
                        <p class="name">{{ t.Name }} :  {{ booltoStr(t.Finished)}}</p>
                        <p class="time"> {{ Date.parse(t.Created) | moment("from") }} </p>
                    </div>
                </div>
            </el-col>
            <el-col :span="18" v-if="logtasks != null && logtasks.length >= 1">
                <MonacoEditor
                        v-if="logcontent !== ''"
                        width="100%"
                        height="1200"
                        theme="vs-dark"
                        language="bash"
                        :editable="false"
                        :options="options"
                        :value="logcontent"
                >{{logcontent}}</MonacoEditor>
            </el-col>
            <el-col v-if="logtasks == null || logtasks.length === 0">
                No logs available
            </el-col>
        </el-row>


        <modal name="changeAddr" :resizable="true" :width="800" :height="510" style="z-index: 999999;">
            <div style="margin: 15px; overflow-y: scroll; height: 490px">
                <div>
                    <el-table
                            :data="addresses"
                            style="width: 100%">
                        <el-table-column
                                prop="Alias"
                                label="Alias"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="Address"
                                label="Address">
                        </el-table-column>
                        <el-table-column
                                fixed="right"
                                label="Operations"
                                width="120">
                            <template slot-scope="scope">
                                <el-button @click="setAddress(scope.$index)" size="medium">Select</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </div>
        </modal>


    </div>
</template>
<script>
    import MonacoEditor from 'monaco-editor-vue';
    import Markdown from 'vue-markdown';
    // @ is an alias to /src
    export default {
        name: 'ProjectDetail',
        data () {
            return {
                activeIndex: "1",
                files: [],
                activeFile: "",
                filecontent: "",
                logcontent: "Select a Task",
                options: {
                    readOnly: true
                },
                readme: "",
                showreadme: false,
                tasks: [],
                tasklogs: "Loading....",
                runtask: "",
                taskprogress: false,
                logtasks: [],
                logtask: "",
                variables: [],
                compiledVars: {},
                addresses: [],
                varsform: [],
                varsnoupdate: false,
                varssave: false,
                toset: "",
            }
        },
        timers: {
            getFiles: { time: 2000, autostart: true, repeat: true },
            getTasks: { time: 2500, autostart: true, repeat: true },
            getReadme: { time: 3000, autostart: true, repeat: true },
            updateTask: { time: 600, autostart: true, repeat: true },
            getLogTasks: { time: 1000, autostart: true, repeat: true },
        },
        components: {
            MonacoEditor,
            Markdown
        },
        methods: {
            setAddress(index) {
                var a = this.addresses[index]
                this.varsform[this.toset] = a.Alias
                this.$modal.hide("changeAddr")
                this.saveVars()

            },
            changeAddress(name){
                this.toset = name
                this.$modal.show("changeAddr")
            },
            saveVars(){
                this.varssave = true
                this.$store.dispatch("setProjectVars",{
                    id:  this.$route.params.pid,
                    env: this.$route.params.id,
                    data : {
                        variables: this.varsform
                    },
                    onSuccess: this.afterSave
                })
            },
            afterSave(){
                this.getTasks()
                this.getVars()
            },
            getAddresses(){
                this.$store.dispatch("getAddresses",{
                    env: this.$route.params.id,
                    pendingTarget: {obj: this, field: "addrPending"},
                    onSuccess: this.setAddresses
                })
            },
            setAddresses(data){
                data = data.data
                if (data.Addresses != undefined) {
                    this.addresses = data.Addresses
                }
            },
            back(){
                this.$router.push('/env/' + this.$route.params.id + '/projects/')
            },
            handleSelect(a){
                this.activeIndex = a
            },
            setFile(f){
                this.filecontent = ""
                this.activeFile = f
                this.getFile(f)
            },
            setLogTask(index){
              this.logtask = this.logtasks[index].Id
                this.logcontent = this.logtasks[index].Logs.join("\n")
            },
            getFiles(){
                this.$store.dispatch("getProjectFiles", {
                    id:  this.$route.params.pid,
                    env: this.$route.params.id,
                    onSuccess: this.handleFiles
                })
            },
            getTasks(){
                this.$store.dispatch("getProjectTasks", {
                    id:  this.$route.params.pid,
                    env: this.$route.params.id,
                    onSuccess: this.handleTasks
                })
            },
            getLogTasks(){
                this.$store.dispatch("getProjectTaskLogs", {
                    id:  this.$route.params.pid,
                    env: this.$route.params.id,
                    onSuccess: this.handleTaskLogs
                })
            },
            getVars(){
                this.$store.dispatch("getProjectVariables", {
                    id:  this.$route.params.pid,
                    env: this.$route.params.id,
                    onSuccess: this.handleVars
                })
            },
            updateTask(){
                if (this.runtask !== '' && this.taskprogress === true) {
                    this.$store.dispatch("getProjectTask", {
                        id:  this.$route.params.pid,
                        env: this.$route.params.id,
                        task: this.runtask,
                        onSuccess: this.updateTaskHandle
                    })
                }
            },
            runTask(task){
                this.$store.dispatch("runProjectTask", {
                    id:  this.$route.params.pid,
                    env: this.$route.params.id,
                    task: task,
                    onSuccess: this.runTaskHandle
                })
            },
            getFile(n){
                this.$store.dispatch("getProjectFile", {
                    id:  this.$route.params.pid,
                    env: this.$route.params.id,
                    data: {
                        name: n
                    },
                    onSuccess: this.handleFile
                })
            },
            getReadme(){
                this.$store.dispatch("getProjectFile", {
                    id:  this.$route.params.pid,
                    env: this.$route.params.id,
                    data: {
                        name: "Readme.md"
                    },
                    onSuccess: this.handleReadme
                })
            },
            indent(a){
                var text = ""
                for (var i = 0; i <= a; i++) {
                    text += "  "
                }
                return text
            },
            handleFile(res){
              this.filecontent = res.data
            },
            updateTaskHandle(res){
                this.tasklogs = res.data.Logs.join("\n")
                if (this.taskprogress === true && res.data.Finished === true) {
                    this.taskprogress = false
                }
            },
            handleReadme(res){
                this.readme = res.data
                this.showreadme = true
            },
            handleTaskLogs(res){
                console.log("handleTAskLogs")
                this.logtasks = res.data
                console.log(this.logtask)

                if (this.logtask !== ''){
                    var t = this
                    res.data.forEach(function (a) {
                        if (a.Id === t.logtask) {
                            t.logcontent = a.Logs.join("\n")
                        }
                    })
                }
            },
            runTaskHandle(res){
                this.taskprogress = true
                this.runtask = res.data.Id
            },
            handleTasks(res){
                this.tasks = res.data
            },
            handleVars(res){
                this.varssave = false
                this.compiledVars = res.data.Compiled
                this.variables = res.data.Variables
                console.log(this.variables)
                this.varsform = {}
                this.variables.forEach(a => {
                    if (this.compiledVars[a.Name] === "") {
                        this.varsform[a.Name] = a.Value
                    } else {
                        this.varsform[a.Name] = this.compiledVars[a.Name]
                    }
                })
            },
            booltoStr(a) {
                if ( a === true) {
                    return "Finished"
                }
                return "Running"
            },
            handleFiles(data){
                var f = []
                data.data.forEach(function (a) {
                    var s = a.Path.split("/")
                    var last = s[s.length - 1]

                    f.push({
                        name: last,
                        path: a.Path,
                        indent: s.length - 1,
                        isDir: a.IsDir,
                    })
                })
                this.files = f
            }
        },
        mounted() {
            this.$store.dispatch("setPage","Projects")
            this.getFiles()
            this.getReadme()
            this.getTasks()
            this.getLogTasks()
            this.getVars()
            this.getAddresses()
            this.handleSelect(1)
        }
    }
</script>


<style>

    .project-menu {
        background-color: rgba(0,0,0,0);
    }

    .filelist {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    .filelist li {
        padding: 2px;
        margin: -8px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .filelist li:hover {
        background-color: rgba(117, 119, 178, 0.35);
    }

    .content {
        padding-left: 10px;
    }

    .filecontent {
        border: 0px;
        width: 100%;
        min-height: 600px;
        background-color: white;
        padding: 5px;
    }

    .text {
        font-size: 14px;
    }

    .task {
        margin-bottom: 10px;
    }

    .item {
        margin-bottom: 18px;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }
    .clearfix:after {
        clear: both
    }

    .info {
        opacity: 0.8;
        margin-top: 50px;
        text-align: center;
    }

    .miniconsole {
        width: 420px;
        color: white;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        padding-top: 15px;
        border-radius: 7px;
        opacity: 0.8;
        background-color: #393a55;
    }

    .varsinput {
        -webkit-appearance: none;
        background-color: #FFF;
        background-image: none;
        border-radius: 4px;
        border: 1px solid #DCDFE6;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: inherit;
        height: 40px;
        line-height: 40px;
        outline: 0;
        padding: 0 15px;
        -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
        transition: border-color .2s cubic-bezier(.645,.045,.355,1);
        width: 100%;
    }

    .varsselect {
        -webkit-appearance: none;
        background-color: #FFF;
        background-image: none;
        border-radius: 4px;
        border: 1px solid #DCDFE6;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: inherit;
        height: 40px;
        line-height: 40px;
        outline: 0;
        padding: 0 15px;
        -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
        transition: border-color .2s cubic-bezier(.645,.045,.355,1);
        width: 100%;
    }

    .compiledVarsWrapper {
        background-color: #2e304b;
        padding: 15px;
    }
    .compiledVars {
        color: white;
        list-style: none;
        padding: 2px;
        padding-left: 15px;
        padding-bottom: 5px;
        margin: 0px;
    }

    .compiledVars li {
        margin: 0px;
        list-style: none;
        padding: 0px;
    }

    .box-card-custom {
        width: 390px;
    }

    .readme {
        background-color:white; width: 1200px; margin-left: auto; margin-right: auto; margin-top: 30px; min-height: 600px; padding: 25px;
        -webkit-box-shadow: 3px 3px 5px -6px rgba(0,0,0,1);
        -moz-box-shadow: 3px 3px 5px -6px rgba(0,0,0,1);
        box-shadow: 3px 3px 5px -6px rgba(0,0,0,1);
        border-radius: 12px;
    }

    .logtask {
        border-bottom: 1px solid #494949;
        padding: 2px;
        margin: 0px;
        padding-left: 10px;
    }

    .logtask:hover {
        background-color: rgba(57, 58, 85, 0.13);
    }

    .active {
        background-color: rgba(57, 58, 85, 0.43);
    }

    .logtask .name {
        margin: 5px;
        margin-bottom: 10px;
        padding-bottom: 0px;
        opacity: 0.8;

    }

    .logtask .time {
        margin: 0px;
        margin-bottom: 5px;
        opacity: 0.4;
        padding-right: 10px;
        text-align: right;
    }

</style>