<template>
    <div class="termwrapper">
        <div id="term" style="height: 100%"></div>
    </div>
</template>


<script>
    import { AttachAddon } from 'xterm-addon-attach';
    import { FitAddon } from 'xterm-addon-fit';
    import { Terminal } from 'xterm';

    export default {
        props: ["console"],
        name: 'WalletConsole',
        mounted(){
            this.getWsUrl()
        },
        methods: {
            getWsUrl(){
                this.$store.dispatch("getWsURL",{
                    id: this.$route.params.id,
                    console: this.console,
                    onSuccess: this.handleConsole
                })
            },
            handleConsole(data){
                if (data.data !== "") {
                    var url = "ws://"+window.location.host+"/env/" + this.$route.params.id + "/ws/" + data.data
                    console.log(url)
                    var term = new Terminal();

                    term.setOption('theme', {
                        background: '#31324c'
                    });
                    const fitAddon = new FitAddon();
                    term.loadAddon(fitAddon)
                    term.open(document.getElementById('term'));
                    var socket = new WebSocket(url);
                    const attachAddon = new AttachAddon(socket);
                    term.loadAddon(attachAddon)
                }
            }
        },
        data() {
            return {

            }
        },

    }
</script>


<style>

    .xterm {
        position: relative;
        user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
    }

    .xterm.focus,
    .xterm:focus {
        outline: none;
    }

    .xterm .xterm-helpers {
        position: absolute;
        top: 0;
        /**
         * The z-index of the helpers must be higher than the canvases in order for
         * IMEs to appear on top.
         */
        z-index: 5;
    }

    .xterm .xterm-helper-textarea {
        /*
         * HACK: to fix IE's blinking cursor
         * Move textarea out of the screen to the far left, so that the cursor is not visible.
         */
        position: absolute;
        opacity: 0;
        left: -9999em;
        top: 0;
        width: 0;
        height: 0;
        z-index: -5;
        /** Prevent wrapping so the IME appears against the textarea at the correct position */
        white-space: nowrap;
        overflow: hidden;
        resize: none;
    }

    .xterm .composition-view {
        /* TODO: Composition position got messed up somewhere */
        color: #FFF;
        display: none;
        position: absolute;
        white-space: nowrap;
        z-index: 1;
    }

    .xterm .composition-view.active {
        display: block;
    }

    .xterm .xterm-viewport {
        overflow-y: scroll;
        cursor: default;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }

    .xterm .xterm-screen {
        position: relative;
    }

    .xterm .xterm-screen canvas {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 1;
    }

    .xterm .xterm-scroll-area {
        visibility: hidden;
    }

    .xterm-char-measure-element {
        display: inline-block;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: -9999em;
        line-height: normal;
    }

    .xterm {
        cursor: text;
    }

    .xterm.enable-mouse-events {
        /* When mouse events are enabled (eg. tmux), revert to the standard pointer cursor */
        cursor: default;
    }

    .xterm.xterm-cursor-pointer {
        cursor: pointer;
    }

    .xterm.column-select.focus {
        /* Column selection mode */
        cursor: crosshair;
    }

    .xterm .xterm-accessibility,
    .xterm .xterm-message {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
        color: transparent;
    }

    .xterm .live-region {
        position: absolute;
        left: -9999px;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    .xterm-dim {
        opacity: 0.5;
    }

    .xterm-underline {
        text-decoration: underline;
    }

    .termwrapper {
        margin-top: 25px;
        padding: 10px;
        overflow: hidden;
        background-color: #31324c;
        display: block;
    }

</style>
