<template>
    <div>
        <table class="envinfo">
        <tr>
            <td>Name</td>
            <td>{{ env.Name }}</td>
        </tr>
        <tr>
            <td v-if="env.Tezos.Remote == false" >Tezos Status</td>
            <td v-if="env.Tezos.Remote == true" >Proxy Status</td>
            <td>{{ env.Tezos.Status }}</td>
        </tr>
        <tr v-if="env.Tezos.Remote == false">
            <td>Network</td>
            <td>{{ env.Tezos.Branch }}</td>
        </tr>
        <tr v-if="env.Tezos.Remote == false">
            <td>History Mode</td>
            <td>{{ env.Tezos.HistoryMode }}</td>
        </tr>
        <tr>
            <td>RPC Endpoint</td>
            <td><a target="_blank" :href="getBaseURL() + '/endpoints/' + env.Tezos.Endpoint + '/chains/main/blocks/head/header'">Link</a></td>
        </tr>
        <tr>
            <td>Blockheight</td>
            <td>{{ env.Tezos.HeadLevel }}</td>
        </tr>
        <tr>
            <td>Last Block</td>
            <td v-if=" env.Tezos.HeadHash !== ''">{{ shortHead(env.Tezos.HeadHash) }}</td>
            <td v-if=" env.Tezos.HeadHash == ''">Loading....</td>
        </tr>
        <br>
        <tr class="actions">
            <td>Actions</td>
            <td v-if="!actionPending">
                <a v-if="env.Tezos.Status != 'pending' && env.Tezos.Status != 'stopped'" @click.prevent="stop" href="">Stop</a>
                <a v-if="env.Tezos.Status == 'stopped'" @click.prevent="start" href="">Start</a>
                <a v-if="env.Tezos.Status != 'pending' && env.Tezos.Status != 'stopped'" @click.prevent="restart" href="">Restart</a>
                <a class="important"  @click.prevent="maybeDestroy" href="">Delete</a>
            </td>
            <td v-if="actionPending">
                Please wait...
            </td>
        </tr>
        </table>
        <v-dialog />
    </div>
</template>

<script>
    export default {
        name: 'EnvOverview',
        props: {
            id: String,
        },
        data: function(){
            return {
                actionPending: false,
            }
        },
        methods: {
            getBaseURL(){
                return location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '')
            },
            shortHead(a) {
                return a.substr(0,12)
            },
            test(){
                console.log(this.env)
            },
            updateEnv(){

            },
            restart(){
                this.$store.dispatch("restartEnv",{
                    pendingTarget: { obj: this, field: "actionPending"},
                    env: this.env.Id,
                })
            },
            stop(){
                this.$store.dispatch("stopEnv",{
                    pendingTarget: { obj: this, field: "actionPending"},
                    env: this.env.Id,
                })
            },
            start(){
                this.$store.dispatch("startEnv",{
                    pendingTarget: { obj: this, field: "actionPending"},
                    env: this.env.Id,
                })
            },
            maybeDestroy(){
                this.$modal.show('dialog', {
                    title: 'Danger!',
                    text: 'This will remove all Data associated with this environment, are you sure?',
                    buttons: [
                        {
                            title: 'NO! abort!',
                            default: true,
                            handler: () => {
                                this.$modal.hide("dialog")
                            }
                        },
                        {
                            title: 'Yes. Delete everything',
                            handler: () => {
                                this.$modal.hide("dialog")
                                this.destroy()
                            }
                        },
                    ]
                })
            },
            destroy(){
                var t = this
                this.$store.dispatch("destroyEnv",{
                    pendingTarget: { obj: this, field: "actionPending"},
                    env: this.env.Id,
                    final: function () {
                        t.activeIndex = true
                        setTimeout(function () {
                            t.$store.dispatch("clearActiveEnv")
                            t.$router.push("/env")
                        },5000)
                    }
                })
            }
        },
        computed: {
            env () {
                return this.$store.state.activeEnv
            }
        },
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .envinfo {
        padding-left: 0px;
        padding-top: 10px;

        -webkit-box-shadow: 0px 5px 5px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 5px 5px -8px rgba(0,0,0,0.75);
        box-shadow: 0px 5px 5px -8px rgba(0,0,0,0.75);
    }

    .envinfo  tr td {
        padding-top: 5px;
        padding-right: 25px;
    }

    .envinfo  .actions td {
        padding-right: 25px;
    }

    .envinfo  .actions td a {
        color: white;
        background-color: rgba(62, 85, 83, 0.55);
        border-radius: 5px;
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
        margin-right: 8px;
        font-size: 0.9em;
    }

    .envinfo .actions td a:hover {
        color: white;
        background-color: rgba(62, 85, 83, 0.8);
    }

    .important {
        background-color: red;
    }

    .destroyModal {
        margin: 25px;
        width: 500px;

    }
</style>
