<template>
   <div>
       <div v-if="size!='long'" class="box mediumbox" style="padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
           <line-chart :chart-data="datacollection" :options="options" vuejs ></line-chart>
       </div>
       <div v-if="size=='long'" class="box chartbox" style="padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px;">
           <line-chart style="width: 98%" :chart-data="datacollection" :options="options" vuejs ></line-chart>
       </div>
   </div>
</template>

<script>
    import LineChart from './BaseLineChart.js'

    export default {
        props: ["metric","color", "e", "m", "s", "d","size", "format"],
        components: {
            LineChart
        },
        data () {
            return {
                data: [],
                apidata: [],
                datacollection: null,
                options: {
                    scales: {
                        xAxes: [{
                            barThickness: 4,
                            maxBarThickness: 10,
                            display: false,
                            type: 'time',
                            time: {
                                displayFormats: {
                                    'millisecond': 'HH:ii:ss',
                                    'second': 'HH:ii:ss',
                                    'minute': 'HH:ii:ss',
                                    'hour': 'HH:ii:ss',
                                }
                            }
                        }
                        ]
                    },
                    elements: {
                      point: {
                          radius: 2,
                      }
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: true
                    },
                    labels: {
                        display: false
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem) {
                                return tooltipItem.yLabel;
                            }
                        }
                    }
                }
            }
        },
        timers: {
            apiData: { time: 20000, autostart: true, repeat: true }
        },
        mounted () {
            this.apiData()
        },
        methods: {
            apiData(){
                var t = this
                var now =  (new Date().getTime() / 1000 )
                this.$store.dispatch("getMetric",{
                    env: this.$route.params.id,
                    source: this.s,
                    metric: this.m,
                    start: now - this.d,
                    end: now,
                    responseTarget: {obj: this, field: "data"},
                    final: function() {
                        if (t.data.reverse != undefined) {
                            t.fillData()
                        }
                    }
                })
            },
            getLabels(){
              var res = []
                this.data.forEach(function (a) {
                    res.push(new Date(a.Time))
                })
                return res
            },
            getData(){
                var res = []
                var f = function (a) {
                    return a
                }
                if (this.format !== undefined) {
                    f = this.format
                }
                this.data.forEach(function (a) {
                    res.push(f(a.Value))
                })
                return res
            },
            getColor(){
                if (this.color === "blue") { return "rgba(0,35,85,0.59)" }
                if (this.color === "red") { return "rgba(85,7,0,0.59)" }
                if (this.color === "gray") { return "rgba(79,79,79,0.59)" }
                if (this.color === "darkblue") { return "rgb(74,75,110)" }
                if (this.color === "darkgreen") { return "rgb(40,60,44)" }
                return "rgb(177,28,115)"
            },
            fillData () {
                this.datacollection = {
                    labels: this.getLabels(),
                    datasets: [
                        {
                            label: this.metric,
                            backgroundColor: this.getColor(),
                            data: this.getData(this.data)
                        }
                    ]
                }
            }
        }
    }
</script>
