<template>
    <div class="box smallbox">
        <div class="metric">
            <p class="n">{{ number }}</p>
            <p class="desc"> {{ desc }}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Metric',
        props: {
            number: String,
            desc: String
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
