<template>
    <el-row class="plugin-list">
        <p class="name">{{ name }}</p>
        <table class="properties">
            <tr>
                <td>State</td>
                <td>Running</td>
            </tr>
            <tr>
                <td>Endpoint</td>
                <td>http://localhost:8080/#/</td>
            </tr>
            <tr>
                <td>Authentication</td>
                <td>Required</td>
            </tr>
            <tr class="actions">
                <td>Actions</td>
                <td><a href="">Manage</a>  <a href="">Pause</a> </td>
            </tr>
        </table>
    </el-row>
</template>

<script>
    export default {
        name: 'Plugin',
        props: {
            name: String,
            desc: String
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .plugin-list {
        padding-left: 15px;
        padding-top: 0px;
        width: 80%;
        padding-bottom: 10px;

        -webkit-box-shadow: 0px 5px 5px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 5px 5px -8px rgba(0,0,0,0.75);
        box-shadow: 0px 5px 5px -8px rgba(0,0,0,0.75);
    }

    .plugin-list .name {
        margin-bottom: 8px;
        font-size: 18px;
    }

    .plugin-list .properties {
        padding-top: 0px;
        padding-left: 25px;
    }

    .plugin-list .properties tr td {
        padding-top: 0px;
        padding-right: 25px;
    }

    .plugin-list .properties .actions td {
        padding-top: 15px;
        padding-right: 25px;
    }

    .plugin-list .properties .actions td a {
        color: white;
        background-color: rgba(62, 85, 83, 0.35);
        border-radius: 5px;
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
        margin-right: 8px;
        font-size: 0.9em;
    }

    .plugin-list .properties .actions td a:hover {
        color: white;
        background-color: rgba(62, 85, 83, 0.8);
    }
</style>
