<template>
    <div class="box smallbox">
        <div class="metric">
            <p v-if="state == 'running'" class="n"><i class="el-icon-video-play green"></i>Running</p>
            <p v-if="state == 'paused'" class="n"><i class="el-icon-video-pause yellow"></i>Paused</p>
            <p v-if="state == 'stopped'" class="n"><i class="el-icon-video-pause yellow"></i>Stopped</p>
            <p v-if="state == 'stopping'" class="n"><i class="el-icon-video-pause yellow"></i>Stopping....</p>
            <p v-if="state == 'pending'" class="n">Pending...</p>
            <p class="desc">Status</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'StatusMetric',
        props: {
            state: String
        },
        mounted() {
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    .green {
        color: green;
        margin-top: 5px;
        font-size: 20px;
        line-height: 10px;
        padding-right: 6px;
    }

    .yellow {
        color: #805b09;
        margin-top: 5px;
        font-size: 20px;
        line-height: 10px;
        padding-right: 6px;
    }


</style>
