<template>
    <div class="plus">
        <div class="auth" id="auth_wrapper">
            <img class="logo" src="/ui/assets/logo.png"  style="height: 40px;"  alt="">
            <div id="outer">
                <div id="inner">
                    <slot name="auth-content"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'Auth',
        data: function () {
            return {
                alert: "test",
            }
        },
        methods: {

        },
        mounted() {
        },
        components: {
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    .plus {
        background-image: url("/ui/assets/plus.png");
        position: absolute;
        width: 100%;
        height: 100%;
        fill-opacity: 0.1;
        padding: 0px;
        margin: -8px;
    }

    .logo {
        margin: 50px 0 0 50px;
        opacity: 0.8;
    }

    #inner {
        border-radius: 5px;
        margin: 150px auto;
        width: 500px;
        display: table;
        padding: 25px;
        background-color: white;
        -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.38);
        -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.38);
        box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.38);
    }

    .auth {
        position: absolute;
        width: 100%;
        height: 100%;

        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#393a55+0,393a55+100&1+0,0.99+0,1+3,1+81,0.99+92,0.99+100 */
        background: -moz-linear-gradient(-45deg,  rgba(57,58,85,0.99) 0%, rgba(57,58,85,1) 3%, rgba(57,58,85,1) 81%, rgba(57,58,85,0.99) 92%, rgba(57,58,85,0.99) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  rgba(57,58,85,0.99) 0%,rgba(57,58,85,1) 3%,rgba(57,58,85,1) 81%,rgba(57,58,85,0.99) 92%,rgba(57,58,85,0.99) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  rgba(57,58,85,0.99) 0%,rgba(57,58,85,1) 3%,rgba(57,58,85,1) 81%,rgba(57,58,85,0.99) 92%,rgba(57,58,85,0.99) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc393a55', endColorstr='#fc393a55',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }




    /* width */
    ::-webkit-scrollbar {
        width: 8px;
        border-radius: 4px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: rgba(241, 241, 241, 0);
        border-radius: 4px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(34, 35, 54, 0.25);
        border-radius: 4px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(34, 35, 54, 0.39);
    }

</style>
