<template>
    <div class="navlogo">
        <img src="/ui/assets/logo.png"  style="height: 40px;"  alt="">
    </div>
</template>

<script>
    export default {
        name: 'MainNavLogo',
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    .navlogo {
        height: 80px;
    }
</style>
