<template>
    <el-menu
            :default-active="activeIndex"
            :active="activeIndex"
            class="el-menu-vertical-demo"
            background-color="#393a55"
            text-color="#fff"
            active-text-color="#ffd04b">
        <el-menu-item index="1" v-on:click="toPage('envs')">
            <i class="el-icon-s-grid"></i>
            <span>Environments</span>
        </el-menu-item>

        <br>
        <br>
        <el-menu-item index="3" v-if="env.Name != undefined && env.Name != ''" v-on:click="toPage('env')">
            <i class="el-icon-menu"></i>
            <span>{{ env.Name }}</span>
        </el-menu-item>
        <el-menu-item index="4"  v-if="env.Name != undefined && env.Name != '' && env.Tezos.Status === 'running' " v-on:click="toPage('wallet')">
            <i class="el-icon-bank-card"></i>
            <span>Wallet</span>
        </el-menu-item>
        <!--
        <el-menu-item index="5" v-if="env.Name != undefined && env.Name != ''" v-on:click="toPage('logs')">
            <i class="el-icon-notebook-2"></i>
            <span>Logs</span>
        </el-menu-item>
        -->
        <el-menu-item index="9" v-if="env.Name != undefined && env.Name != ''" v-on:click="toPage('charts')">
            <i class="el-icon-data-analysis"></i>
            <span>Metrics</span>
        </el-menu-item>
        <el-menu-item index="10" v-if="env.Name != undefined && env.Name != ''" v-on:click="toPage('rpc')">
            <i class="el-icon-sort"></i>
            <span>RPC</span>
        </el-menu-item>
        <el-menu-item index="6"  v-if="env.Name != undefined && env.Name != ''" v-on:click="toPage('plugins')">
            <i class="el-icon-copy-document"></i>
            <span>Plugins</span>
        </el-menu-item>
        <el-menu-item index="7"  v-if="env.Name != undefined && env.Name != ''" v-on:click="toPage('console')">
            <i class="" style="padding-left: 7px; font-size: 18px; font-family: sans-serif; padding-right: 8px;">#!</i>
            <span>Console</span>
        </el-menu-item>
        <el-menu-item v-if="env.Name != undefined && env.Name != ''"  index="2" v-on:click="toPage('projects')">
            <i class="el-icon-folder-opened"></i>
            <span>Projects</span>
        </el-menu-item>
        <!---
        <el-menu-item index="8"  v-if="env.Name != undefined && env.Name != ''" v-on:click="toPage('manage')">
            <i class="el-icon-setting"></i>
            <span>Manage</span>
        </el-menu-item>
        -->
        <br  v-if="env.Name != undefined && env.Name != ''">
        <br  v-if="env.Name != undefined && env.Name != ''">
        <br  v-if="env.Name != undefined && env.Name != ''">
        <el-menu-item index="20" v-on:click="toPage('config')">
            <i class="el-icon-setting"></i>
            <span>Tplus Server</span>
        </el-menu-item>
    </el-menu>
</template>

<script>
    export default {
        name: 'MainNav',
        computed: {
            env () {
                return this.$store.state.activeEnv
            },
        },
        data () {
            return {
                envid: "evn-e131asdasd12",
                activeIndex: 5,
                page: ""
            }
        },
        mounted() {
            this.setIndex()
        },
        watch: {
            "$route"() {
                this.page = this.$store.state.page
                this.setIndex()
            }
        },
        methods: {
            setIndex(){
                this.activeIndex = 1
                if (this.page === "Environments") { this.activeIndex = 1}
                if (this.page === "Projects") { this.activeIndex = 2}
                if (this.page === "Dashboard") { this.activeIndex = 3}
                if (this.page === "Wallet") { this.activeIndex =4}
                if (this.page === "Logs") { this.activeIndex = 5}
                if (this.page === "Plugins") { this.activeIndex = 6}
                if (this.page === "API") { this.activeIndex = 6}
                if (this.page === "Console") { this.activeIndex = 7}
                if (this.page === "Manage") { this.activeIndex = 8}
                if (this.page === "TplusServer") { this.activeIndex = 20}
                if (this.page === "Charts") { this.activeIndex = 9}
            },
            toPage (page) {
                if (page == "envs") { this.$router.push("/env/") }
                if (page == "projects") { this.$router.push("/env/" + this.env.Id + "/projects") }
                if (page == "env") { this.$router.push("/env/" + this.env.Id) }
                if (page == "wallet") { this.$router.push("/env/" + this.env.Id + "/wallet") }
                if (page == "logs") { this.$router.push("/env/" + this.env.Id + "/logs") }
                if (page == "plugins") { this.$router.push("/env/" + this.env.Id + "/plugins") }
                if (page == "console") { this.$router.push("/env/" + this.env.Id + "/console") }
                if (page == "rpc") { this.$router.push("/env/" + this.env.Id + "/rpc") }
                if (page == "manage") { this.$router.push("/env/" + this.env.Id + "/manage") }
                if (page == "charts") { this.$router.push("/env/" + this.env.Id + "/charts") }
                if (page == "config") { this.$router.push("/tplus/config") }
            },
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
