<template>
    <div class="realm" id="realm_top">

        <div class="realm-content" v-bind:class="{ 'realm-content-bigscreen':isbig }">
            <section class="container" v-bind:class="{'rounded-left':isbig}">
                <div class="one" v-bind:class="{'rounded-left':isbig}">
                    <main-nav-logo></main-nav-logo>
                    <main-nav style="text-align: left; margin-right: -1px;"></main-nav>
                </div>
                <div class="two" v-bind:class="{ 'rounded-left-small':isbig }" id="contentwrapper">
                    <div class="pagetitle">
                        <div class="pticon el-icon-s-grid"></div>
                        <div class="crum">{{ $route.name }}</div>
                        <div class="logout" v-on:click="logout">
                            <p class="el-icon-close"></p>
                        </div>
                        <span></span>
                    </div>
                    <div class="content-container" id="content">
                            <slot name="realm-content"></slot>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
    import MainNav from "./MainNav";
    import MainNavLogo from "./MainNavLogo";

    export default {
        name: 'Realm',
        data: function () {
            return {
                isbig: false,
            }
        },
        methods: {
            logout(){
                this.$store.dispatch("logout",this.loggedOut)
            },
            loggedOut(){
                this.$router.push("/login")
            },
            checkbig: function() {
                if (window.innerWidth >= 1800) {
                    this.isbig = true
                } else {
                    this.isbig = false
                }
            },
            contentResize: function() {
                var content = document.getElementById("content");
                var h = window.innerHeight
                var w = window.innerWidth


                // TODO bigscreen size
                if (this.isbig) {
                    h = h - 140
                    w = 1440
                } else {
                    h = h - 110
                    w = w - 260
                }
                content.style.height =  h + "px"
                content.style.width =  w + "px"
            }
        },
        mounted() {
            this.checkbig()
            this.contentResize()
            var t = this
            window.addEventListener("resize", function() {
                t.checkbig()
                t.contentResize()
            });
        },
        components: {
            MainNav,
            MainNavLogo
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    .logout {
        float: right;
        margin-top: -13px;
        margin-right: 15px;
        font-size: 1.6em;
        color: #393a55;
        opacity: 0.5;
    }

    .logout:hover {
        opacity: 1;
    }

    .pagetitle {
        border-top-left-radius: 0px;
        border-top-right-radius: 25px;
        background-color: #fafafa;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.33);
        box-shadow: -1px 3px 3px -4px rgba(0,0,0,0.12);
        display: block;
        font-family: sans-serif;
    }

    .pagetitle .pticon {
        color: #393a55;
        display: inline-flex;
        opacity: 0.75;
        margin-top: 15px;
        margin-left: -15px;
        padding-right: 13px;
        line-height: 20px;
        font-size: 25px;
    }

    .pagetitle .crum {
        display: inline-flex;
        opacity: 0.45;
        padding-left: 12px;
        padding-right: 13px;
        line-height: 20px;
        font-size: 20px;
        position: relative;
        margin-top: 10px;
        border-left: 1px solid rgb(57, 58, 85);
    }






    .realm {
        background: #e6e6ee; /* Old browsers */
        background: -moz-linear-gradient(top, #e6e6ee 0%, #dcdce2 96%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #e6e6ee 0%,#dcdce2 96%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #e6e6ee 0%,#dcdce2 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6ee', endColorstr='#dcdce2',GradientType=0 );

        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        padding: 0px;
        margin: -8px;
        text-align: center;
    }

    .realm-content {
        background-color: white;
        width: 100%;
        height: 100%;
        width: 100%;
    }

    .realm-content-bigscreen {
        max-width: 1700px;
        margin: 30px auto;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;

        border: 1px solid #dcdcdc;
        -webkit-box-shadow: 11px -1px 9px -8px rgba(0,0,0,0.05);
        -moz-box-shadow: 11px -1px 9px -8px rgba(0,0,0,0.05);
        box-shadow: 11px -1px 9px -8px rgba(0,0,0,0.05);
    }

    .rounded-left {
        border-top-left-radius: 25px;
    }

    .rounded-left-small {
        border-top-left-radius: 10px;
    }

    .content-container {
        position: absolute;
        padding-right: 10px;
        padding: 30px;
        padding-top: 15px;
        overflow-y: scroll;
        display: flex;
    }


    /* width */
    ::-webkit-scrollbar {
        width: 8px;
        border-radius: 4px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: rgba(241, 241, 241, 0);
        border-radius: 4px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(34, 35, 54, 0.25);
        border-radius: 4px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(34, 35, 54, 0.39);
    }

    .container {
        width: 100%;
        height: 100%;
        margin: auto;
        padding: 0px;
        background-image: url("/ui/assets/accent.png");
        background-size: auto 100%;
        background-repeat: repeat-y;
    }

    .one {
        opacity: 0.85;
        width: 210px;
        float: left;
        padding-right: 30px;
        height: 100%;
        padding-top: 25px;
        background-color: #393a55;
        z-index: 50;
    }

    .two {
        margin-left: 200px;
        background: #f9f9f9; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #f9f9f9 0%, #f8f7ff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #f9f9f9 0%,#f8f7ff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #f9f9f9 0%,#f8f7ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f8f7ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        height: 100%;
        min-width: 600px;
        text-align: left;
        -webkit-box-shadow: -15px 0px 15px -2px rgba(0,0,0,0.05);
        -moz-box-shadow: -15px 0px 15px -2px rgba(0,0,0,0.05);
        box-shadow: -15px 0px 15px -2px rgba(0,0,0,0.05);
        z-index: 200;
        position: relative;
        border-top-right-radius: 25px;
    }

</style>
