<template>
  <div>
    <auth v-if="page === 'login'">
      <template v-slot:auth-content>
        <router-view></router-view>
      </template>
    </auth>
    <realm v-if="page === 'std'">
      <template v-slot:realm-content>
        <router-view></router-view>
      </template>
    </realm>
    <router-view v-if="page === 'nope'" ></router-view>
  </div>
</template>

<script>
  // @ is an alias to /src
  import Realm from "./components/design/Realm";
  import Auth from "./components/design/Auth";

  export default {
    name: 'App',
    components: {
      Realm,
      Auth
    },
    data(){
      return {
        page: false
      }
    },
    watch: {
      "$route" () {
        this.template()
      }
    },
    mounted(){
      this.$store.dispatch("setUnauthorized",this.goToLogin)
      if (this.$store.state.token === "") {
        this.$router.push("/login")
      }
      if (this.$route.name === null) {
        this.$router.push("/env")
      }
    },
    methods: {
      goToLogin() {
        this.$router.push("/login")
      },
      template(){
        this.page = "std"
        if (this.$route.name === 'Login') {
          this.page = "login"
        }
        if (this.$route.name === 'Viewer') {
          this.page = "nope"
        }
      }

    }
  }
</script>



<style>
body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.boxes-container {
  min-height: 100px;
  margin-bottom: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.boxes-vertical {
  justify-content: left;
  width: 170px;
}

.box {
  margin: 5px;
  background-color: #ffffff;
  display: inline-flex;
  -webkit-box-shadow: 3px 3px 5px -6px rgba(0,0,0,1);
  -moz-box-shadow: 3px 3px 5px -6px rgba(0,0,0,1);
  box-shadow: 3px 3px 5px -6px rgba(0,0,0,1);
}

.smallbox {
  height: 80px;
  width: 160px;
}

.mediumbox {
  height: 255px;
  width: 410px;
}

.chartbox {
  min-width: 1200px;
  height: 250px;
}

.metric {
  font-family: sans-serif;
  width: 100%;
  text-align: center;
}

.metric .n {
  color: #393a55;
  font-size: 19px;
  margin-bottom: 0px;
}

.metric .desc {
  font-size: 13px;
  margin-top: 3px;
  opacity: 0.6;
}


.pagetitle {
  background-color: white;
}

.scrollBar2::-webkit-scrollbar {width: 5px;}
.scrollBar2::-webkit-scrollbar-track-piece {
  background: rgba(204, 204, 204, 0);
  border-right: 0px solid #fff;
  border-left: 0px solid #fff;
}
.scrollBar2::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.35);
  border-radius: 5px;
}


.logs {
  overflow-y: scroll;
  position: relative;
  background-color: rgba(25, 26, 40, 0.82);
  padding: 10px;
  padding-left: 15px;
  border-radius: 10px;
  margin-left: 0px;
  height: 400px;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,1);
  padding-bottom: 15px;
}

.logs code {
  color: #d6d6d6;
  text-wrap: normal;
}

.logs code p {
  color: white;
  font-size: 0.9em;
  margin-top: 0px;
  margin-bottom: 2px;
  border-top: 1px dashed rgba(128, 128, 128, 0.25);
}

.tph {
  padding-left: 0px;
  color: #393a55;
  font-family: sans-serif;
  border-bottom: 1px solid rgba(57, 58, 85, 0.47);
  line-height: 2px;
  margin-bottom: 5px;
}

.tph1 {
  font-size: 25px;
  width: 100%;
}

.tph2 {
  font-size: 23px;
  width: 80%;
}

.tph3 {
  font-size: 22px;
  width: 60%;
}

.tph4 {
  font-size: 20px;
  width: 50%;
}

  .mb1 {
    margin-bottom: 30px;
  }


  .el-button--primary {
    background-color: #636493;
    border-color: #636493;
  }

  .el-slider__bar {
    background-color: #7577b2;
  }

  .el-slider__button {
    border: 1.5px solid #8f7ed6;
    width: 17px;
    height: 17px;
  }

.el-switch.is-checked .el-switch__core {
  border-color: #8f7ed6;
  background-color: #8f7ed6;
}

</style>
